.details_block{
    padding-top: 60px;
    padding-left: 150px;
    padding-right: 300px;
}
.details_block_first_left_main_img {
    width: 808px;
    height: 606px;
    border-radius: 8px;
}

.details_block_first_left_imgs{
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 808px;
height: 70px;
gap: 8px;

}
.details_block_first_left_about_block_first{
    margin-bottom: 10px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.details_block_first_left_about_block_second{
    width: 240px;
    margin-bottom: 14px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.details_block_first_left_about_block_third{
    margin-bottom: 14px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.details_block_first_left_about_block_forty{
    margin-bottom: 14px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.details_block_first_left_about_block_left{
    width: 392px;
height: 320px;
top: 752px;

}
.details_block_first_left_about_block_left_block{
    display: flex;
    justify-content: space-between;
}
.details_block_first_left_about{
    margin-top: 60px;
    display: flex;
}
.details_block_first_left_about_block_right{
    margin-left: 24px;
    width: 392px;
    height: 320px;
    top: 752px;
}
.details_block_first_left_description_main_text{
    font-family: Inter Tight;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.details_block_first_left_description_text{
    margin-top: 24px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
    width: 808px;
    height: 160px;

}
.details_block_first{
    display: flex;
    justify-content: space-between;
}
.details_block_first_left_about_block_right_main_text{
    font-family: Inter Tight;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
    width: 360px;
    height: 78px;

}
.details_block_first_left_about_block_right_price_text{
    margin-top: 16px;
    font-family: Inter Tight;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #3C7D46;

}
.details_block_first_left_about_block_right_price_texts_block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    width: 360px;
}
.details_block_first_left_about_block_right_price_texts_block_first_text{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.details_block_first_left_about_block_right_price_texts_block_second_text{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.details_block_first_left_about_block_right_price_texts{
    margin-top: 16px;
}
.details_block_first_left_about_block_right_second_text{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
    margin-top: 16px;
    width: 360px;
    height: 40px;

}
.details_block_first_left_about_block_right_third_text{
    margin-top: 8px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
    width: 360px;
    height: 40px;

}
.details_block_first_left_about_block_right_button{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 360px;
height: 48px;
padding: 12px 24px 12px 24px;
border-radius: 8px;
gap: 8px;
    background: #3C7D46;
display: flex;
    justify-content: center;
    border: none;
    margin-top: 16px;
}
.details_block_first_left_about_block_right_button_second{
    margin-top: 12px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    background: white;
    width: 360px;
height: 48px;
padding: 14px 24px 14px 24px;
gap: 6px;
    border: 1px solid #D1D1D1;
    justify-content: center;
}
.details_block_first_left_about_block_right_button_third{
    border-radius: 3px;
    display: flex;
    align-items: center;
    background: white;
    width: 360px;
    height: 48px;
    padding: 14px 24px 14px 24px;
    gap: 6px;
    border: 1px solid #D1D1D1;
    justify-content: center;
}
.details_block_first_left_about_block_right_second_block{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.details_block_first_left_about_block_right_second_block_main_text{
    font-family: Inter Tight;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.details_block_first_left_about_block_right_second_block_inner{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E49A49;
    width: 90px;
height: 28px;
padding: 4px 8px 4px 8px;
border-radius: 8px;
gap: 4px;

}
.details_block_first_left_about_block_right_second_block_inner_text{
    margin-left: 4px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;

}
.details_block_first_left_about_block_right_third_block_inner{
    display: flex;
    justify-content: space-between;
    width: 360px;
padding: 6px 0px 6px 0px;
gap: 12px;

}
.details_block_first_left_about_block_right_third_block_inner_first_text{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.details_block_first_left_about_block_right_third_block_inner_second_text{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.details_block_first_left_about_block_right_third_block{
    margin-top: 24px;
}
.details_block_first_left_about_block_right_third_block_inner_two{
    margin-top: 12px;
    display: flex;
    align-items: center;
}
.details_block_first_left_about_block_right_third_block_inner_two_text{
    margin-left: 8px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #3C7D46;

}
.details_block_first_left_about_block_right_four_text{
    margin-top: 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.details_block_first_left_about_block_right_five_text{
    margin-top: 12px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.details_block_first_left_about_block_right_button_four{
    margin-top: 12px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 360px;
height: 48px;
padding: 12px 24px 12px 24px;
border-radius: 8px;
gap: 8px;
    background: #3C7D46;
display: flex;
    justify-content: center;
    border: none;
}
.details_block_first_left_about_block_right_six_text{
    margin-top: 12px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #3C7D46;

}
.details_block_first_left_about_block_right_seven_text{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.details_block_first_left_about_block_right_seven_text_first{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;

    color: #A3A3A3;

}
.details_block_first_left_about_block_right_seven_text_second{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;

color: #767676;
margin-left: 4px;
    margin-right: 4px;
}
.details_block_first_left_description_first_text{
    margin-top: 32px;
    font-family: Inter Tight;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.details_block_first_left_features_left_inner{
    display: flex;
    align-items: center;
    height: 28px;
}
.details_block_first_left_features_left_inner_text{
    margin-left: 8px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.details_block_first_left_features_left_text{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
    margin-bottom: 12px;
}
.details_block_first_left_features{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    width: 808px;

}
.details_block_first_left_features_right_first_text{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
margin-bottom: 12px;
}
.details_block_first_left_features_right_second_text{
    margin-top: 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
    margin-bottom: 12px;
}
.details_block_first_left_answer_block{
    border-radius: 8px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    width: 776px;
    margin-top: 48px;
    height: 110px;
    align-items: center;
    box-shadow: 0px 8px 16px 0px #1C1E2214;

    box-shadow: 0px 1px 2px 0px #1C1E2214;

}
.details_block_first_left_answer_block_text{
    font-family: Inter Tight;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
}
.details_block_first_left_answer_block_second_text{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
    margin-top: 12px;
    width: 617px;

}
.details_block_first_left_answer_block_button{
    width: 135px;
height: 48px;
padding: 12px 24px 12px 24px;
border-radius: 8px;
gap: 8px;
    background: #3C7D46;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    border: none;
}
.details_block_first_left_links_block_main_text{
    font-family: Inter Tight;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.details_block_first_left_links_block{
    width: 808px;
height: 98px;
gap: 24px;
margin-top: 32px;
}
.details_block_first_left_links_block_links_left_text{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #3C7D46;
    margin-bottom: 8px;
}
.details_block_first_left_links_block_links{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}
.details_block_first_left_links_block_links_left{
    width: 392px;
gap: 8px;

}
.details_block_first_left_similar_first_block{
    display: flex;
    justify-content: space-between;
}
.details_block_first_left_similar_first_block_text{
    font-family: Inter Tight;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
}
.details_block_first_left_similar_first_block_arrows{
    display: flex;
    align-items: center;
}
.details_block_first_left_similar_first_block_arrows_button{
}
.details_block_first_left_similar_second_block_car{
    margin-top: 24px;
    width: 288px;
height: 312px;
border-radius: 8px;
    box-shadow: 0px 8px 16px 0px #1C1E2214;

    box-shadow: 0px 1px 2px 0px #1C1E2214;

}
.details_block_first_left_similar_second_block_car_img{
    width: 288px;
    height: 180px;
    border-radius: 8px 8px 0px 0px

}
.details_block_first_left_similar_second_block_car_texts_main{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.details_block_first_left_similar_second_block_car_texts{
    padding: 16px;
}
.details_block_first_left_similar_second_block_car_texts_second{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #A3A3A3;

}
.details_block_first_left_similar_second_block_car_texts_third{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #767676;

}
.details_block_first_left_similar_second_block_car_texts_second_text_first{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.details_block_first_left_similar_second_block_car_texts_second_text_second{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #A3A3A3;
    text-decoration: line-through;
}
.details_block_first_left_similar_second_block_car_texts_second_text{
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
}
.details_block_first_left_similar_second_block_car_texts_second_text_inner{
    display: flex;
    align-items: center;
}
.details_block_first_left_similar_second_block_car_texts_second_text_inner_text{
    text-decoration: none;
    border: none;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #3C7D46;
    margin-right: 4px;
}
.details_block_first_left_similar{
    width: auto;
    margin-top: 96px;
    border-top: 1px solid #E6E6E6;
height: 554px;
padding: 96px 150px 96px 150px;
gap: 24px;

}
.details_block_first_left_similar_second_block{
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: left 0.5s ease;
    overflow: hidden; /* Добавляем скрытие элементов, которые выходят за пределы контейнера */
}
.button_block{
    border: none;
}