.main_content_text{
    font-family: Inter Tight;
    font-size: 44px;
    font-weight: 600;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.main_content{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
.block {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.header {
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
}

.arrow {
    display: inline-block;
    width: 15px;
    height: 15px;
    transition: transform 0.3s;
}

.arrow.rotate {
    transform: rotate(90deg);
}

.content {
    padding: 10px;
    display: none;
}
.main_content_information{
    border: none;
    display: flex;
    justify-content: space-between;
    width: 808px;
height: 60px;
padding: 19px 16px 19px 16px;
border-radius: 8px;
gap: 16px;
    background: #F6F5F4;
margin-top: 31px;
}
.main_content_information_text{
    font-family: Inter Tight;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.main_content_text_contents{
margin-top: 59px;
}
.contact_block{
    margin-top: 40px;
    width: 808px;
height: 110px;
padding: 16px;
border-radius: 8px;
gap: 12px;
    box-shadow: 0px 8px 16px 0px #1C1E2214;

    box-shadow: 0px 1px 2px 0px #1C1E2214;
display: flex;
    justify-content: space-between;
}
.contact_block_texts_main{
    font-family: Inter Tight;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.contact_block_texts_second{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
    width: 617px;
}
.contact_block_button{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 135px;
height: 48px;
padding: 12px 24px 12px 24px;
border-radius: 8px;
gap: 8px;
    background: #3C7D46;
border: none;
    display: flex;
    justify-content: center;
}
.content{
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    width: 808px;
    padding: 0px 18px;
//styleName: Desktop/Body Medium;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
    border-radius: 1px 0px 0px 0px;
}
.active,.main_content_information:hover{
    background-color: #F6F5F4;

}