.forgot_password_block_main_text{
    font-family: Inter Tight;
    font-size: 32px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
    margin-top: 48px;
}
.forgot_password_block_first_text{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
    margin-top: 16px;
}
.forgot_password_block_second_text{
    margin-top: 32px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.forgot_password_block_input{
    margin-top: 8px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #A3A3A3;
    width: 392px;
height: 48px;
padding: 14px 12px 14px 12px;
border-radius: 8px;
border: 1px;
gap: 4px;
    border: 1px solid #D1D1D1
}
.forgot_password_block_button{
    margin-top: 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 392px;
height: 48px;
padding: 12px 24px 12px 24px;
border-radius: 8px;
gap: 8px;
    background: #3C7D46;
display: flex;
    justify-content: center;
    border: none;
}
.forgot_password_block_main_texts_first{
    margin-top: 24px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #3C7D46;
display:  flex;
    align-items: center;
    justify-content: center;
}
.forgot_password_block_main_texts_img{
    margin-right: 4px;
}
.forgot_password_block{
    display: flex;
    justify-content: center;
    height: 440px;
}