.forgot_block{
    display: flex;
    justify-content: center;
    height: 440px;
}
.forgot_block_main_text{
    font-family: Inter Tight;
    font-size: 32px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
    margin-top: 48px;
}
.forgot_block_button{
    display: flex;
    justify-content: center;
    border: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 392px;
    height: 48px;
    padding: 12px 24px 12px 24px;
    border-radius: 8px;
    gap: 8px;
    background: #3C7D46;
    margin-top: 36px;
}
.forgot_block_button_two {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 392px;
}
.forgot_block_button_two_text{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #3C7D46;
    margin-left: 4px;
}
.forgot_block_button_third{
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    Width : 392px;
}
.forgot_block_button_third_first_text{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #1A1A1A;

}
.forgot_block_button_third_second_text{
    margin-left: 5px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #3C7D46;

}
.forgot_block_second_text{
    margin-top: 16px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.forgot_block_second_text_next{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
}
