html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
header{
    width: 1903px;
    margin: 0 auto;
}

.container_head{
    height: 36px;
    display: flex;
    padding-top: 10px;
    padding-left: 112px;
    background-color: #2C2926;
}
.container_head_img{
    margin-left: 13px;
}
.container_head_img_facebook{
    width: 7px;
    height: 13px;
}
.twitter_img{
    width: 14px;
    height: 13px;
}
.youtube_img{
    margin-top: 1px;
    width: 13px;
    height: 12px;
}
.instagram_whatsapp_img{
    width: 13.33px;
    height: 13.33px;
}
.container_head_two{
    height: 70px;
    display: flex;
    padding-left: 120px;
    padding-top: 18px;
}
.test_container_head{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #1A1A1A;
    margin-left: 40px;
}
.number_phone_header{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin-left: 7px;
    color: rgba(255, 255, 255, 0.7);
}
.mail_header_img{
    margin-left: 17px;
}
.mail_header_text{
    margin-left: 7px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;

    color: rgba(255, 255, 255, 0.7);
}
.map_container_img{
    margin-left: 815px;
    width: 12px;
    height: 14px;
}
.text_container_map{
    margin-left: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;

    color: rgba(255, 255, 255, 0.7);
}
.flag_country_header{
    width: 20px;
    height: 20px;
    margin-top: -3px;
    margin-left: 6px;
    display: block;
}
.select_country_header{
margin-left: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    background-color: #2C2926;
    color: white;
    border: 2px solid #2C2926;
    display: block;
    margin-top: -9px;
}
.currency_header_text{
    margin-left: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;


    color: rgba(255, 255, 255, 0.7);

}
.help_img_header{
    width: 13px;
    height: 13px;
    margin-left: 25px;
    margin-top: 1px;
}
.text_help_header{
    margin-left: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;


    color: rgba(255, 255, 255, 0.7);

}
.container_two_imgs{
    display: flex;
    margin-left: 830px;
    padding-top: 7px;
}
.container_two_search_img{
    width: 17px;
    height: 17px;
}
.container_two_heart_img{
    margin-left: 23px;
    width: 16px;
    height: 15px;
}
.container_two_profile_img{
    margin-left: 23px;
    width: 16px;
    height: 16px;
}
.button_container_two{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 9px;
    gap: 8px;

    width: 103px;
    height: 36px;

    /* Primary 500 */

    background: #3C7D46;
    border: none;
    border-radius: 8px;
    margin-left: 47px;
    color: white;
}
.section_one{
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1903px;
    height: 800px;
}
.section_one_texts{
    padding-left: 108px;
    padding-top: 216px;
}
.section_one_main_text{
    width: 600px;
    height: 207px;

    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 115%;
    /* or 69px */


    /* Gray 900 */

    color: #1A1A1A;
}
.section_one_button{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;

    width: 138px;
    height: 48px;

    /* Primary 500 */

    background: #3C7D46;
    border-radius: 8px;
    border: none;
    color: white;
    margin-top: 32px;
}
.section_one_contact{
    display: inline-flex;
    padding-left: 33px;
}
.section_one_text_phone{
    margin-left: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Gray 900 */

    color: #1A1A1A;
}
.section_one_img_mail{
    width: 16px;
    height: 15px;
    margin-left: 33px;
}
.block_information{
    padding-top: 40px;
    padding-left: 40px;
margin-top: 200px;
    width: 1650px;
    height: 148px;

    background: lightyellow;
    /* Cards 2 */

    box-shadow: 0px 1px 2px rgba(28, 30, 34, 0.04), 0px 12px 32px rgba(28, 30, 34, 0.08);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}
.block_information_inner_block{
    display: flex;
}
.block_information_background_fon{
    padding-top: 17px;
    padding-left: 17px;
    width: 52px;
    height: 52px;

    /* Secondary 500 */

    background: #E49A49;
    border-radius: 100px;
}
.main_block_text_block_information{
    margin-left: 16px;
}
.main_text_block_information{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */


    /* Gray 900 */

    color: #1A1A1A;
}
.bio_text_block_information{
    margin-top: 5px;
    Width: 305px;
    height: 40px;

    /* Desktop/Body Small */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    /* Gray 900 */

    color: #1A1A1A;
}
.special_section{
    margin-top: 170px;
    padding-left: 108px;
    padding-right: 120px;
}
.heading{
    display: flex;
    justify-content: space-between;
}
.heading_text{
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 115%;
    /* identical to box height, or 44px */


    /* Gray 900 */

    color: #1A1A1A;

}
.heading_text_two{
    display: flex;
    align-items: center;
    margin-top: -4px;
    width: 110px;
    height: 20px;
    /* Desktop/Label 2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Primary 500 */

    color: #3C7D46;
}
.heading_text_block{
    display: flex;
    align-items: center;
}
.arrow{
    width: 8px;
    height: 10px;
}
.arrow3{
    margin-right: 30px;
}
.arrow2{
    margin-left: 10px;
    width: 15px;
    height: 15px;
}
.arrow4 {
    margin-right: 46px;
}
.text_header{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #1A1A1A;
}
.text_car{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #767676;
}
.block_information_car{
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
}
.block_information_car_inner{
    display: flex;
    justify-content: space-between;
}
.block_car{
    width: 288px;
    height: 345px;

    background: #FFFFFF;
    /* Cards 1 */

    box-shadow: 0px 1px 2px rgba(28, 30, 34, 0.08), 0px 8px 16px rgba(28, 30, 34, 0.08);
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.3);
}
.details_car{
    display: flex;
}
.price{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #1A1A1A;
}
.discount{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: line-through;


    color: #A3A3A3;

}
.text_details{
display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #3C7D46;
}
.arrow_car{
    width: 6px;
    height: 10px;
    display: block;
    margin-top: 5px;
    margin-left: 6px;
}
.all_cart{
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: left 0.5s ease;
    overflow: hidden; /* Добавляем скрытие элементов, которые выходят за пределы контейнера */
}
.img_car{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.text_car_about{
    min-height: 80px;
}
.brand_text_main{
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 115%;

    color: #1A1A1A;
}
.inner_block_brand{
    padding-top: 16px;
    width: 184px;
    height: 144px;

    background: #FFFFFF;
    /* Cards 1 */

    box-shadow: 0px 1px 2px rgba(28, 30, 34, 0.08), 0px 8px 16px rgba(28, 30, 34, 0.08);
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 8px;

}
.text_brand{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    text-align: center;


    color: #1A1A1A;

}
.img_block_brand{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand_block{
    padding-top: 96px;
    height: 464px;
}
.blocks_brand{
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}
.texts_block_brand{
    padding-top: 16px;
    display: flex;
    align-items: center;
}
.text_block_brand{
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #3C7D46;
    margin-right: 4px;
}
.inquiry_block{
    height: 340px;
    background: #2C2926;
}
.inner_inquiry_block{
    padding-top: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_text_inquiry_block{
    width: 470px;
    height: 52px;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;


    color: #FFFFFF;

}
.second_text_inquiry_block{
    margin-top: 24px;
    width: 470px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;


    color: #FFFFFF;
}
.button_inquiry_block{
    margin-left: 224px;
    width: 138px;
    height: 48px;
    color: #FFFFFF;
    background: #3C7D46;
    border-radius: 8px;
    border: none;
}
.how_work_block{
    padding-top: 96px;
}
.texts_how_work_block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_text_how_work_block{
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 115%;

    text-align: center;

    color: #1A1A1A;
}
.second_text_how_work_block{
    margin-top: 24px;
    width: 600px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    text-align: center;

    color: #484848;
}
.number_how_work_block_inner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;

    background: #E49A49;
    border-radius: 100px;

}
.main_text_how_work_block_inner{
    margin-top: 24px;
    margin-bottom: 12px;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;

    text-align: center;

    color: #1A1A1A;
}
.second_text_how_work_block_inner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 224px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #1A1A1A;
}
.how_work_block_inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_block_how_work_block_inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blocks_how_work_block{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 48px;
}
.why_choose_block{
    height: 992px;
    margin-top: 95px;
    padding-top: 96px;
    padding-left: 208px;
    padding-right: 412px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.why_choose_block_texts{
    margin-left: 128px;
}
.why_choose_block_main_text{
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 115%;

    color: #1A1A1A;
}
.why_choose_block_second_text{
    margin-top: 24px;
    width: 392px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #1A1A1A;
}
.why_choose_block_inner{
    margin-top: 57px;
}
.why_choose_block_inner_block{
    margin-bottom: 24px;
    align-items: flex-start;
    display: flex;
    justify-content: center;
}
.why_choose_block_inner_block_main_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #1A1A1A;
}
.why_choose_block_inner_block_second_text{
    width: 360px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #1A1A1A;
}
.img_why_choose_block_inner_block{
    padding-top: 8px;
    margin-right: 16px;
}
.happy_client_block{
    height: 600px;
    padding-top: 96px;
    padding-left: 208px;
    padding-right: 114px;
}
.happy_client_block_text_main_block{
display: flex;
    justify-content: space-between;
}
.happy_client_block_main_text{
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 115%;

    color: #1A1A1A;
}
.happy_client_block_text_main_block_button{
    display: flex;
    align-items: end;
}
.happy_client_block_text_main_block_img{

}
.happy_client_block_comment{
padding-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: left 0.5s ease;
    overflow: hidden;
}
.happy_client_block_comment_block{
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    width: 392px;
    height: 290px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 8px;
}
.happy_client_block_comment_block_texts{
    display: flex;
    align-items: center;
}
.happy_client_block_comment_block_inner_text{
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.happy_client_block_comment_block_inner_text_star{
    display: flex;
    align-items: center;
}
.happy_client_block_comment_block_inner_texts{
    margin-left: 16px;
}
.happy_client_block_comment_block_second_text{
    margin-top: 24px;
    width: 328px;
}
.text_main_happy_client{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.text_main_happy_client_second{
//styleName: Desktop/Body xSmall;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #767676;

}
.section_blog{
    padding-top: 96px;
    height: 684px;
    padding-left: 108px;
    padding-right: 108px;
}
.section_blog_main_text{
    display: flex;
    justify-content: space-between;
}
.section_blog_main_text_chapter{
    font-family: Inter Tight;
    font-size: 38px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
}
.section_blog_main_text_all{
    display: flex;
    align-items: center;
}
.section_blog_main_text_all_text{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #3C7D46;
    margin-right: 4px;
}
.section_blog_content{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}
.section_blog_content_block{
width: 392px;
    height: 400px;
border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.3);
}
.section_blog_content_block_tag{
    margin-top: 16px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #0394FC;
    background: #E6F4FF;
    width: 53px;
height: 20px;
padding: 2px 6px 2px 6px;
border-radius: 4px;
}
.section_blog_content_block_main_text{
    margin-top: 12px;
    font-family: Inter Tight;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
}
.section_blog_content_block_second_text{
    margin-top: 12px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #484848;

}
.section_blog_content_text{
padding-left: 16px;
    padding-right: 16px;
}
.section_blog_content_block_tag2{
    margin-top: 16px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #DD7437;

    background: #FFF1E8;

    width: 45px;
height: 20px;
padding: 2px 6px 2px 6px;
border-radius: 4px;

}
.support_block{
    background: #2C2926;
height: 508px;
}
.support_block_content_main_text{
    margin-top: 24px;
    width: 392px;
    height: 52px;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;


}
.support_block_content_second_text{
    margin-top: 24px;
    width: 392px;
    height: 72px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}
.support_block_content_button{
    margin-top: 48px;
    width: 138px;
height: 48px;
padding: 12px 24px 12px 24px;
border-radius: 8px;
gap: 8px;
    background: #3C7D46;
    color: #FFFFFF;
    border: none;

}
.support_block_content{
    width: 600px;
height: 316px;
padding: 0px 104px 0px 104px;
gap: 48px;

}
.support_block{
    display: flex;
    justify-content: space-between;
    padding: 96px 308px;
}
.support_block_content_button2{
    margin-top: 48px;
    width: 138px;
    height: 48px;
    padding: 12px 24px 12px 24px;
    border-radius: 8px;
    gap: 8px;
    color: #3C7D46;
    background: #FFFFFF;
    border: none;
}
.footer_block{
padding-top: 80px;
    padding-left: 108px;
    padding-right: 108px;
    height: 398px;
}
.footer_block_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_block_content_first_block{
    width: 288px;
height: 150px;

}
.footer_block_content_first_block_main_text{
    margin-top: 24px;
    width: 288px;
    height: 60px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #484848;
}
.footer_block_content_first_block_img{
    width: 152px;
height: 20px;
margin-top: 24px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.footer_block_content_second_block{
    width: 184px;
height: 130px;
}
.footer_block_content_second_block_main_text{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;

}
.footer_block_content_second_block_next_text{
    margin-top: 24px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #484848;

}
.footer_block_content_second_block_next2_text{
    margin-top: 12px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #484848;
}
.footer_block_content_second_block_inner{
    display: flex;
    align-items: end;
}
.footer_block_content_second_block_inner_img{
    margin-right: 8px;
}
.footer_block_content2{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.footer_block_content2_first_text{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #767676;

}
.footer_block_content2_inner_block{
    display: flex;
}
.footer_block_content2_second_text{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #767676;
    margin-right: 24px;
}
.footer_block_content2_three_text{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #767676;
}
.button_special{
    border: none;
}
.img_block_brand_text{
    margin-left: 4px;
}
.button_happy_client{
    border: none;
}