<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,200;0,600;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main_page.css}">
    <link rel="stylesheet" th:href="@{/css/about_us_page.css}">
</head>
<body>
<header>
    <div class="container_head">
        <a class="container_head_img" href="https://github.com/alken1t15"><img class="container_head_img_facebook" th:src="@{/img/Facebook.png}"
                                                                               alt="Facebook"></a>
        <a class="container_head_img" href="https://github.com/alken1t15"><img class="twitter_img" th:src="@{/img/Twitter.png}" alt="Twitter"></a>
        <a class="container_head_img" href="https://github.com/alken1t15"><img class="youtube_img" th:src="@{/img/YouTube.png}" alt="YouTube"></a>
        <a class="container_head_img" href="https://github.com/alken1t15"><img class="instagram_whatsapp_img" th:src="@{/img/Instagram.png}"
                                                                               alt="Instagram"></a>
        <a class="container_head_img" href="https://github.com/alken1t15"><img class="instagram_whatsapp_img" th:src="@{/img/WhatsApp.png}"
                                                                               alt="WhatsApp"></a>
        <p class="number_phone_header">+ 7 747 165 57 80</p>
        <a class="mail_header_img" href="mailto:alken1t15@gmail.com"><img th:src="@{/img/mail.png}" alt="Mail"></a>
        <a class="mail_header_text" href="mailto:alken1t15@gmail.com">alken1t15@gmail.com</a>
        <img class="map_container_img" th:src="@{/img/Map.png}" alt="Map">
        <p class="text_container_map">Ship to:</p>
        <img class="flag_country_header" th:src="@{/img/flag_canada.png}" alt="Flag">
        <select class="select_country_header">
            <option>
                Canada
            </option>
            <option>
                USA
            </option>
        </select>
        <p class="currency_header_text">Currency:</p>
        <select class="select_country_header">
            <option>USD</option>
            <option>EUR</option>
        </select>
        <a class="help_img_header" href=""><img th:src="@{/img/help.png}" alt="Help"></a>
        <a href="" class="text_help_header">Help</a>
    </div>
    <div class="container_head_two">
        <a th:href="@{/main}"><img th:src="@{/img/Logo.png}"></a>
        <a class="test_container_head" th:href="@{/catalog}">All Cars</a>
        <a class="test_container_head" th:href="@{/about}">About Us</a>
        <a class="test_container_head" th:href="@{/blog}">Blog</a>
        <a class="test_container_head" href="">Contact</a>
        <div class="container_two_imgs">
            <img class="container_two_search_img" th:src="@{/img/Search.png}" alt="Search">
            <img class="container_two_heart_img" th:src="@{/img/Heart.png}" alt="Heart">
            <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/profile}"><img class="container_two_profile_img" th:src="@{/img/Profile.png}" alt="Profile"></a>
            <a th:unless="${#authorization.expression('isAuthenticated()')}" th:href="@{/login}"><img class="container_two_profile_img" th:src="@{/img/Profile.png}" alt="Profile"></a>
        </div>
        <button class="button_container_two">Get a quote</button>
    </div>
</header>
<section class="about_block">
    <div>
        <div class="about_block_first">
            <p class="about_block_first_main">About Us</p>
            <pre class="about_block_first_text">
Nullam non nisi est sit amet. Arcu vitae elementum curabitur vitae nunc. Ut tellus elementum sagittis vitae et leo duis. Accumsan sit amet nulla facilisi morbi tempus iaculis. Nisl nunc mi ipsum faucibus. Pulvinar neque laoreet suspendisse interdum consectetur. Accumsan lacus vel facilisis volutpat est velit egestas dui id. Duis ut diam quam nulla porttitor. Id nibh tortor id aliquet lectus proin nibh. Amet tellus cras adipiscing enim eu turpis egestas pretium aenean. Massa tincidunt dui ut ornare lectus sit amet est placerat. Est ante in nibh mauris cursus mattis. Leo in vitae turpis massa sed elementum tempus egestas sed. Sagittis id consectetur purus ut faucibus pulvinar elementum integer enim. Aliquam vestibulum morbi blandit cursus risus at. Arcu cursus euismod quis viverra nibh cras. Semper viverra nam libero justo laoreet sit amet cursus sit.

Id ornare arcu odio ut sem nulla. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Velit dignissim sodales ut eu sem integer vitae justo. A erat nam at lectus urna duis convallis convallis. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque. Risus ultricies tristique nulla aliquet enim tortor. Consectetur a erat nam at. Elit sed vulputate mi sit amet mauris. Platea dictumst quisque sagittis purus sit amet volutpat consequat. Porta nibh venenatis cras sed felis eget. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat in. Neque convallis a cras semper auctor. Odio tempor orci dapibus ultrices. Et malesuada fames ac turpis. Nulla pellentesque dignissim enim sit amet venenatis. Sed euismod nisi porta lorem mollis aliquam.
    </pre>
        </div>
        <div class="about_block_first">
            <p class="about_block_first_main">Benefits</p>
            <pre class="about_block_first_text">Quis blandit turpis cursus in hac. In hendrerit gravida rutrum quisque. Pellentesque habitant morbi tristique senectus et. Eget gravida cum sociis natoque. Pharetra diam sit amet nisl suscipit adipiscing bibendum. Porttitor massa id neque aliquam. In fermentum posuere urna nec.

Rhoncus aenean vel elit scelerisque mauris pellentesque. Nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi. Consequat id porta nibh venenatis cras sed.
    </pre>
            <div class="about_block_first_inner">
                <div class="about_block_first_inner_content">
                    <img class="about_block_first_inner_content_img" th:src="@{/img/a.png}" alt="About">
                    <p class="about_block_first_inner_content_first">Professional approach to clients</p>
                    <p class="about_block_first_inner_content_second">Amet minim mollit non deserunt ullamco est sit
                        aliqua dolor do amet sint.</p>
                </div>
                <div class="about_block_first_inner_content">
                    <img class="about_block_first_inner_content_img"  th:src="@{/img/a2.png}" alt="About">
                    <p class="about_block_first_inner_content_first">Protect all payments</p>
                    <p class="about_block_first_inner_content_second">Amet minim mollit non deserunt ullamco est sit
                        aliqua dolor do amet sint.</p>
                </div>
                <div class="about_block_first_inner_content">
                    <img class="about_block_first_inner_content_img"  th:src="@{/img/a3.png}" alt="About">
                    <p class="about_block_first_inner_content_first">Real reviews from clients</p>
                    <p class="about_block_first_inner_content_second">Amet minim mollit non deserunt ullamco est sit
                        aliqua dolor do amet sint.</p>
                </div>
            </div>
        </div>
        <div class="about_block_second">
            <div>
                <p class="about_block_first_main">Our mission</p>
                <pre class="about_block_first_text_second">Id ornare arcu odio ut sem nulla. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Velit dignissim sodales ut eu sem integer vitae justo. A erat nam at lectus urna duis convallis convallis. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque. Risus ultricies tristique nulla aliquet enim tortor. Consectetur a erat nam at. Elit sed vulputate mi sit amet mauris.

Platea dictumst quisque sagittis purus sit amet volutpat consequat. Porta nibh venenatis cras sed felis eget. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat in. Neque convallis a cras semper auctor.
                </pre>
            </div>
            <img  th:src="@{/img/mission.png}" alt="Img">
        </div>
        <div class="contact_block">
            <p class="contact_block_text">Contact us for auto import assistance or to learn more about us</p>
            <div class="contact_block_two">
                <div class="contact_block_inner">
                    <img  th:src="@{/img/WhatsAppBlack.png}" alt="WhatsApp">
                    <p class="contact_block_inner_text">+971 55 811 9024</p>
                </div>
                <div class="contact_block_inner">
                    <img  th:src="@{/img/MailBlack.png}" alt="WhatsApp">
                    <a href="mailto:alken1t15@gmail.com" class="contact_block_inner_text">alken1t15@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="about_block_first">
            <p class="about_block_first_main">Car imports: a full package of services</p>
            <pre class="about_block_first_text">Id ornare arcu odio ut sem nulla. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Velit dignissim sodales ut eu sem integer vitae justo. A erat nam at lectus urna duis convallis convallis. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque. Risus ultricies tristique nulla aliquet enim tortor. Consectetur a erat nam at. Elit sed vulputate mi sit amet mauris. Platea dictumst quisque sagittis purus sit amet volutpat consequat. Porta nibh venenatis cras sed felis eget. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat in. Neque convallis a cras semper auctor. Odio tempor orci dapibus ultrices. Et malesuada fames ac turpis. Nulla pellentesque dignissim enim sit amet venenatis. Sed euismod nisi porta lorem mollis aliquam.
    </pre>
        </div>
        <div class="send_mess">
            <img th:src="@{/img/mailG.png}" alt="Mail">
            <div class="send_mess_texts">
                <p class="send_mess_texts_main">Send an inquiry and our managers will offer you the best deals.</p>
                <p class="send_mess_texts_second">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
            </div>
            <button class="send_mess_button">Get a quote</button>
        </div>
    </div>
</section>
<footer class="footer_block">
    <div class="footer_block_content">
        <div class="footer_block_content_first_block">
            <img th:src="@{/img/Logo.png}" alt="eCars">
            <p class="footer_block_content_first_block_main_text">Nullam non nisi est sit amet. Arcu vitae elementum
                curabitur vitae nunc. Ut tellus elementum sagittis vitae et leo duis.</p>
            <div class="footer_block_content_first_block_img">
                <img th:src="@{/img/Facebook2.png}" href="https://github.com/alken1t15" alt="Facebook">
                <img th:src="@{/img/Twitter2.png}" href="https://github.com/alken1t15" alt="Twitter">
                <img th:src="@{/img/YouTube2.png}" href="https://github.com/alken1t15" alt="YouTube">
                <img th:src="@{/img/Instagram2.png}" href="https://github.com/alken1t15" alt="Instagram">
            </div>
        </div>
        <div class="footer_block_content_second_block">
            <p class="footer_block_content_second_block_main_text">Company</p>
            <a th:href="@{/about}" class="footer_block_content_second_block_next_text">About Us</a>
            <p class="footer_block_content_second_block_next2_text">Blog</p>
            <p class="footer_block_content_second_block_next2_text">FAQ</p>
        </div>
        <div class="footer_block_content_second_block">
            <p class="footer_block_content_second_block_main_text">Cars</p>
            <p class="footer_block_content_second_block_next_text">Special offers</p>
            <p class="footer_block_content_second_block_next2_text">New cars</p>
            <p class="footer_block_content_second_block_next2_text">Used cars</p>
            <p class="footer_block_content_second_block_next2_text">Brands</p>
        </div>
        <div class="footer_block_content_second_block">
            <p class="footer_block_content_second_block_main_text">Contacts</p>
            <div class="footer_block_content_second_block_inner">
                <img class="footer_block_content_second_block_inner_img" th:src="@{/img/Whatsapp2.png}" alt="WhatsApp">
                <p class="footer_block_content_second_block_next_text">+ 7 747 165 57 80</p>
            </div>
            <div class="footer_block_content_second_block_inner">
                <img class="footer_block_content_second_block_inner_img" th:src="@{/img/Email2.png}" alt="Email">
                <a class="footer_block_content_second_block_next2_text"  href="mailto:alken1t15@gmail.com">alken1t15@gmail.com</a>
            </div>
        </div>
    </div>
    <div class="footer_block_content2">
        <p class="footer_block_content2_first_text">eCars © 2022. All rights reserved.</p>
        <div class="footer_block_content2_inner_block">
            <p class="footer_block_content2_second_text">Privacy Policy</p>
            <p class="footer_block_content2_three_text">Terms & Conditions</p>
        </div>
    </div>
</footer>
</body>
</html>