<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,200;0,600;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main_page.css}">
    <link rel="stylesheet" th:href="@{/css/article_blog_page.css}">
</head>
<body>
<header>
    <div class="container_head">
        <a class="container_head_img" href="https://github.com/alken1t15"><img class="container_head_img_facebook" th:src="@{/img/Facebook.png}"
                                                                               alt="Facebook"></a>
        <a class="container_head_img" href="https://github.com/alken1t15"><img class="twitter_img" th:src="@{/img/Twitter.png}" alt="Twitter"></a>
        <a class="container_head_img" href="https://github.com/alken1t15"><img class="youtube_img" th:src="@{/img/YouTube.png}" alt="YouTube"></a>
        <a class="container_head_img" href="https://github.com/alken1t15"><img class="instagram_whatsapp_img" th:src="@{/img/Instagram.png}"
                                                                               alt="Instagram"></a>
        <a class="container_head_img" href="https://github.com/alken1t15"><img class="instagram_whatsapp_img" th:src="@{/img/WhatsApp.png}"
                                                                               alt="WhatsApp"></a>
        <p class="number_phone_header">+ 7 747 165 57 80</p>
        <a class="mail_header_img" href="mailto:alken1t15@gmail.com"><img th:src="@{/img/mail.png}" alt="Mail"></a>
        <a class="mail_header_text" href="mailto:alken1t15@gmail.com">alken1t15@gmail.com</a>
        <img class="map_container_img" th:src="@{/img/Map.png}" alt="Map">
        <p class="text_container_map">Ship to:</p>
        <img class="flag_country_header" th:src="@{/img/flag_canada.png}" alt="Flag">
        <select class="select_country_header">
            <option>
                Canada
            </option>
            <option>
                USA
            </option>
        </select>
        <p class="currency_header_text">Currency:</p>
        <select class="select_country_header">
            <option>USD</option>
            <option>EUR</option>
        </select>
        <a class="help_img_header" href=""><img th:src="@{/img/help.png}" alt="Help"></a>
        <a href="" class="text_help_header">Help</a>
    </div>
    <div class="container_head_two">
        <a th:href="@{/main}"><img th:src="@{/img/Logo.png}"></a>
        <a class="test_container_head" th:href="@{/catalog}">All Cars</a>
        <a class="test_container_head" th:href="@{/about}">About Us</a>
        <a class="test_container_head" th:href="@{/blog}">Blog</a>
        <a class="test_container_head" href="">Contact</a>
        <div class="container_two_imgs">
            <img class="container_two_search_img" th:src="@{/img/Search.png}" alt="Search">
            <img class="container_two_heart_img" th:src="@{/img/Heart.png}" alt="Heart">
            <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/profile}"><img class="container_two_profile_img" th:src="@{/img/Profile.png}" alt="Profile"></a>
            <a th:unless="${#authorization.expression('isAuthenticated()')}" th:href="@{/login}"><img class="container_two_profile_img" th:src="@{/img/Profile.png}" alt="Profile"></a>
        </div>
        <button class="button_container_two">Get a quote</button>
    </div>
</header>
<section class="main_block">
    <div>
        <p class="main_text">7 tips when buying a new car in UAE</p>
        <div class="main_block_details">
            <p class="main_block_details_first">Guides</p>
            <div class="main_block_details_inner">
                <img th:src="@{/img/date.png}" alt="Date">
                <p class="main_block_details_inner_text">Jan 14, 2023</p>
            </div>
            <div class="main_block_details_inner">
                <img th:src="@{/img/view.png}" alt="View">
                <p class="main_block_details_inner_text">2305 views</p>
            </div>
            <div class="main_block_details_inner">
                <img th:src="@{/img/tag.png}" alt="Tag">
                <p class="main_block_details_inner_text">tips, new car, UAE, Dubai</p>
            </div>
        </div>
        <img th:src="@{/img/acticle_blog.png}" alt="Img">
        <pre class="main_block_first">Buying a new car in UAE is not easy. With over 60 brands to choose from and 1,000’s of cars popping up for sale every day, there’s a lot to choose from and some incredible deals out there. But before you rush out there, we’ve got a few tips for you to bear in mind.

Online portals like Dubicars do make the buying process easier by showing you new and used cars for sale all over the Emirates. By new car, we don’t mean a vehicle that has never been driven with zero km on the clock and has never had a previous owner. By new car, we mean a replacement to your current car or a first time purchase.

Now let’s get into the guide
    </pre>
        <div class="main_block_texts">
            <p class="main_block_texts_header">Research</p>
            <pre class="main_block_texts_text">
Before sealing the deal, before looking at a car, do your research on the vehicle or vehicles you are considering buying.

What to research beforehand;
            <ul ><li>Reliability</li>
<li>Known problems</li>
<li>Overall</li>
<li>Is it the right car for you and your family</li>
            </ul>
Take your time and don’t rush into a purchase even if it screams “AMAZING DEAL, CHANCE OF A LIFETIME, DON’T MISS OUT” as you could face issues further down the line.
        </pre>
        </div>
        <div class="main_block_texts">
            <p class="main_block_texts_header">Look around</p>
            <pre class="main_block_texts_text">You may have found the perfect car you, but that shouldn’t stop you from looking around and finding other potential purchases. Always look for an alternative or two just in case you find something you don’t like about your first choice.

With Dubicars you can Save your favourite cars in My Garage and view them all later. This is also a great place to organise cars you want to look at before making a final purchase
        </pre>
        </div>
        <div class="main_block_texts">
            <p class="main_block_texts_header">Get your finances in order</p>
            <pre class="main_block_texts_text">Before you start looking for a car, first ask yourself “can I afford this car?” Buying a car is not a small purchase. On all listings, Dubicars gives you a finance calculator that you can use to calculate how much the car will cost over a certain amount of years. Budget yourself correctly, and don’t overspend. Yes that <a class="main_block_texts_link" href="https://www.dubicars.com/news/2020-mercedes-benz-glc-63-amg-the-ultimate-crossover.html">GLC 63s AMG</a> is nice, but the <a class="main_block_texts_link" href="https://www.dubicars.com/news/2020-toyota-c-hr-crossover-to-the-wild-side.html">Toyota C-HR</a>  is more cost-effective.
        </pre>
        </div>
        <div class="main_block_texts">
            <p class="main_block_texts_header">Get a feel</p>
            <pre class="main_block_texts_text">Don’t get excited just yet, we know you’ve found your next car on Dubicars. Before putting down a down payment, go and check the car out. Sit inside and feel if it fits you and your needs. You don’t want an uncomfortable car especially if you plan to use it a lot and on long journeys. Check out other features. Are they in the right place? Do they all make sense? And most importantly, does it have what you want? If you’re shopping around for a new car for your family, make sure your family fits in and won’t outgrow it in a matter of months.
        </pre>
        </div>
        <div class="main_block_texts">
            <p class="main_block_texts_header">Negotiate</p>
            <pre class="main_block_texts_text">Don’t be afraid to haggle. Just don’t offer the seller half of what they are asking.

If you’re buying from a dealership, ask them about any <a class="main_block_texts_link" href="https://www.dubicars.com/ramadan-car-offers">current car promotions</a> they have running. They may not be able to lower the price, but can through in possible freebies including warranty and even deferred payments adding value to purchasing a car.

Haggling is normal when buying a car in the UAE.
        </pre>
        </div>
        <div class="main_block_texts">
            <p class="main_block_texts_header">Depreciation</p>
            <pre class="main_block_texts_text">As we mentioned earlier, deprecation is something you should always consider when buying a car. As soon as you buy a car and put a few 100 km on the clock, the value of the vehicle drops. In general, a vehicle that costs less to buy will depreciate slower compared to more expensive rides.

Here is a list of vehicles with slower depreciation in UAE;
            <ul ><li>Toyota</li>
<li>Nissan</li>
<li>Lexus</li>
<li>Honda</li>
<li>Ford</li>
</ul>
Cars that do not deprecate do exist but are rather expensive even when new. These tend to be hypercars, enthusiasts cars and cars with short or capped production runs.
        </pre>
        </div>
        <div class="main_block_texts">
            <p class="main_block_texts_header">Depreciation</p>
            <pre class="main_block_texts_text">Petrol is still relatively cheap in the UAE compared to other countries but doesn’t mean you should go out and buy a 5.7-litre V8 SUV. Keep in mind that filling up is a weekly occurrence and can add up. Maintenance is also something to keep a note of. Popular cars in the UAE maintenance prices aren’t as high as others due to parts being easier to find. But they can add up even if they are cheap. European cars tend to be more expensive to maintain followed by American cars. Japanese, Korean and Chinese are the cheapest. Oil changes, tyre rotation, wheel balance, a/c repair and tyre changing are all services that need to be addressed during car ownership.
        </pre>
        </div>
        <div class="main_block_share">
            <p class="main_block_share_text">Share:</p>
            <div class="main_block_share_inner">
                <img th:src="@{/img/Facebook3.png}" alt="Facebook">
                <p class="main_block_share_inner_text">Facebook</p>
            </div>
            <div class="main_block_share_inner">
                <img th:src="@{/img/Twitter3.png}" alt="Twitter">
                <p class="main_block_share_inner_text">Twitter</p>
            </div>
            <div class="main_block_share_inner">
                <img th:src="@{/img/Linkedin.png}" alt="Linkedin">
                <p class="main_block_share_inner_text">Linkedin</p>
            </div>
            <div class="main_block_share_inner">
                <img th:src="@{/img/copy.png}" alt="link">
                <p class="main_block_share_inner_text">Copy link</p>
            </div>
        </div>
        <div class="main_block_subscribe">
            <p class="main_block_subscribe_main">Stay up to date</p>
            <p class="main_block_subscribe_second">Don't miss the latest news, reviews and guides from our experts. Get updates in your inbox. No spam.</p>
            <div class="main_block_subscribe_inner">
                <input class="main_block_subscribe_inner_input" type="text" placeholder="Email">
                <button class="main_block_subscribe_inner_button">Subscribe</button>
            </div>
        </div>
    </div>
</section>
<div class="main_block_more_blog">
    <p class="main_block_more_blog_text">Related articles</p>
    <div class="main_block_more_blog_inner">
        <a th:href="@{/blog/1}">
            <div class="main_block_more_blog_inner_content">
                <img th:src="@{/img/bb1.png}" alt="Blog">
                <div class="main_block_more_blog_inner_content_texts">
                    <p class="main_block_more_blog_inner_content_tag">Guides</p>
                    <p class="main_block_more_blog_inner_content_text">The rising cost of fuel in the UAE and how to avoid it</p>
                </div>
            </div>
        </a>
        <a th:href="@{/blog/1}">
            <div class="main_block_more_blog_inner_content">
                <img th:src="@{/img/bb2.png}" alt="Blog">
                <div class="main_block_more_blog_inner_content_texts">
                    <p class="main_block_more_blog_inner_content_tag">Guides</p>
                    <p class="main_block_more_blog_inner_content_text">How to take the best shots of your car to get a sale</p>
                </div>
            </div>
        </a>
        <a th:href="@{/blog/1}">
            <div class="main_block_more_blog_inner_content">
                <img th:src="@{/img/bb3.png}" alt="Blog">
                <div class="main_block_more_blog_inner_content_texts">
                    <p class="main_block_more_blog_inner_content_tag">Guides</p>
                    <p class="main_block_more_blog_inner_content_text">How to test drive a used car in UAE</p>
                </div>
            </div>
        </a>
        <a th:href="@{/blog/1}">
            <div class="main_block_more_blog_inner_content">
                <img th:src="@{/img/bb4.png}" alt="Blog">
                <div class="main_block_more_blog_inner_content_texts">
                    <p class="main_block_more_blog_inner_content_tag">Guides</p>
                    <p class="main_block_more_blog_inner_content_text">Buying a certified pre-owned car; what are the benefits</p>
                </div>
            </div>
        </a>
    </div>
</div>
<footer class="footer_block">
    <div class="footer_block_content">
        <div class="footer_block_content_first_block">
            <a th:href="@{/main}"><img th:src="@{/img/Logo.png}" alt="eCars"></a>
            <p class="footer_block_content_first_block_main_text">Nullam non nisi est sit amet. Arcu vitae elementum
                curabitur vitae nunc. Ut tellus elementum sagittis vitae et leo duis.</p>
            <div class="footer_block_content_first_block_img">
                <a href="https://github.com/alken1t15"><img th:src="@{/img/Facebook2.png}" href="https://github.com/alken1t15" alt="Facebook"></a>
                <a href="https://github.com/alken1t15"><img th:src="@{/img/Twitter2.png}" href="https://github.com/alken1t15" alt="Twitter"></a>
                <a href="https://github.com/alken1t15"><img th:src="@{/img/YouTube2.png}" href="https://github.com/alken1t15" alt="YouTube"></a>
                <a href="https://github.com/alken1t15"><img th:src="@{/img/Instagram2.png}" href="https://github.com/alken1t15" alt="Instagram"></a>
            </div>
        </div>
        <div class="footer_block_content_second_block">
            <p class="footer_block_content_second_block_main_text">Company</p>
            <a  class="footer_block_content_second_block_next_text" th:href="@{/about}">About Us</a>
            <a  class="footer_block_content_second_block_next2_text" th:href="@{/blog}">Blog</a>
            <a  class="footer_block_content_second_block_next2_text" th:href="@{/frequently}">FAQ</a>
        </div>
        <div class="footer_block_content_second_block">
            <p class="footer_block_content_second_block_main_text">Cars</p>
            <p class="footer_block_content_second_block_next_text">Special offers</p>
            <p class="footer_block_content_second_block_next2_text">New cars</p>
            <p class="footer_block_content_second_block_next2_text">Used cars</p>
            <p class="footer_block_content_second_block_next2_text">Brands</p>
        </div>
        <div class="footer_block_content_second_block">
            <p class="footer_block_content_second_block_main_text">Contacts</p>
            <div class="footer_block_content_second_block_inner">
                <img class="footer_block_content_second_block_inner_img" th:src="@{/img/Whatsapp2.png}" alt="WhatsApp">
                <p class="footer_block_content_second_block_next_text">+ 7 747 165 57 80</p>
            </div>
            <div class="footer_block_content_second_block_inner">
                <img class="footer_block_content_second_block_inner_img" th:src="@{/img/Email2.png}" alt="Email">
                <a class="footer_block_content_second_block_next2_text"  href="mailto:alken1t15@gmail.com">alken1t15@gmail.com</a>
            </div>
        </div>
    </div>
    <div class="footer_block_content2">
        <p class="footer_block_content2_first_text">eCars © 2022. All rights reserved.</p>
        <div class="footer_block_content2_inner_block">
            <p class="footer_block_content2_second_text">Privacy Policy</p>
            <p class="footer_block_content2_three_text">Terms & Conditions</p>
        </div>
    </div>
</footer>
</body>
</html>