<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="../static/css/main_page.css">
  <link rel="stylesheet" href="../static/css/details_page.css">
</head>
<body>
<header>
  <div class="container_head">
    <a class="container_head_img" href=""><img class="container_head_img_facebook" src="../static/img/Facebook.png" alt="Facebook"></a>
    <a class="container_head_img" href=""><img class=twitter_img" src="../static/img/Twitter.png" alt="Twitter"></a>
    <a class="container_head_img" href=""><img class="youtube_img" src="../static/img/YouTube.png" alt="YouTube"></a>
    <a class="container_head_img" href=""><img class="instagram_whatsapp_img" src="../static/img/Instagram.png" alt="Instagram"></a>
    <a class="container_head_img" href=""><img class="instagram_whatsapp_img" src="../static/img/WhatsApp.png" alt="WhatsApp"></a>
    <p class="number_phone_header">+ 971 55 811 9024</p>
    <a class="mail_header_img" href="mailto:request@example.com"><img src="../static/img/mail.png" alt="Mail"></a>
    <a class="mail_header_text" href="mailto:request@example.com">request@example.com</a>
    <img class="map_container_img" src="../static/img/Map.png" alt="Map">
    <p class="text_container_map">Ship to:</p>
    <img class="flag_country_header" src="../static/img/flag_canada.png" alt="Flag">
    <select class="select_country_header">
      <option>
        Canada
      </option>
      <option>
        USA
      </option>
    </select>
    <p class="currency_header_text">Currency:</p>
    <select class="select_country_header">
      <option>USD</option>
      <option>EUR</option>
    </select>
    <a class="help_img_header" href=""><img src="../static/img/help.png" alt="Help"></a>
    <a href="" class="text_help_header">Help</a>
  </div>
  <div class="container_head_two">
    <a href=""><img src="../static/img/Logo.png"></a>
    <a class="test_container_head" href="">All Cars</a>
    <a class="test_container_head" href="">About Us</a>
    <a class="test_container_head" href="">Blog</a>
    <a class="test_container_head" href="">Contact</a>
    <div class="container_two_imgs">
      <img class="container_two_search_img" src="../static/img/Search.png" alt="Search">
      <img class="container_two_heart_img" src="../static/img/Heart.png" alt="Heart">
      <img class="container_two_profile_img" src="../static/img/Profile.png" alt="Profile">
    </div>
    <button class="button_container_two">Get a quote</button>
  </div>
</header>
<section class="details_block">
  <div class="details_block_first">
    <div class="details_block_first_left">
      <img class="details_block_first_left_main_img" src="../static/img/main_car.png" alt="Car">
      <div class="details_block_first_left_imgs">
        <img class="details_block_first_left_imgs_img" src="../static/img/01.png" alt="Car">
        <img class="details_block_first_left_imgs_img" src="../static/img/02.png" alt="Car">
        <img class="details_block_first_left_imgs_img" src="../static/img/03.png" alt="Car">
        <img class="details_block_first_left_imgs_img" src="../static/img/04.png" alt="Car">
        <img class="details_block_first_left_imgs_img" src="../static/img/05.png" alt="Car">
        <img class="details_block_first_left_imgs_img" src="../static/img/06.png" alt="Car">
        <img class="details_block_first_left_imgs_img" src="../static/img/07.png" alt="Car">
        <img class="details_block_first_left_imgs_img" src="../static/img/08.png" alt="Car">
      </div>
      <div class="details_block_first_left_about">
        <div class="details_block_first_left_about_block_left">
          <div class="details_block_first_left_about_block_left_block">
            <p class="details_block_first_left_about_block_first">Make</p>
            <p class="details_block_first_left_about_block_second">Toyota</p>
          </div>
          <div class="details_block_first_left_about_block_left_block">
            <p class="details_block_first_left_about_block_first">Model</p>
            <p class="details_block_first_left_about_block_second">Land Cruiser 2017 ZX-G Frontier Face-Lifted Petrol 4.6L Sunroof 4WD</p>
          </div>
          <div class="details_block_first_left_about_block_left_block">
            <p class="details_block_first_left_about_block_first">Year</p>
            <p class="details_block_first_left_about_block_second">2017</p>
          </div>
          <div class="details_block_first_left_about_block_left_block">
            <p class="details_block_first_left_about_block_first">Wheels</p>
            <p class="details_block_first_left_about_block_second">18´</p>
          </div>
          <div class="details_block_first_left_about_block_left_block">
            <p class="details_block_first_left_about_block_first">Color</p>
            <p class="details_block_first_left_about_block_second">White</p>
          </div>
          <div class="details_block_first_left_about_block_left_block">
            <p class="details_block_first_left_about_block_first">Vehicle type</p>
            <p class="details_block_first_left_about_block_second">SUV/Crossover</p>
          </div>
          <div class="details_block_first_left_about_block_left_block">
            <p class="details_block_first_left_about_block_first">Kilometers</p>
            <p class="details_block_first_left_about_block_second">15,000</p>
          </div>
        </div>
        <div class="details_block_first_left_about_block_right">
          <div class="details_block_first_left_about_block_left_block">
            <p class="details_block_first_left_about_block_third">Gearbox</p>
            <p class="details_block_first_left_about_block_forty">Automatic</p>
          </div>
          <div class="details_block_first_left_about_block_left_block">
            <p class="details_block_first_left_about_block_third">Fuel</p>
            <p class="details_block_first_left_about_block_forty">Gasoline</p>
          </div>
          <div class="details_block_first_left_about_block_left_block">
            <p class="details_block_first_left_about_block_third">Seats</p>
            <p class="details_block_first_left_about_block_forty">8</p>
          </div>
          <div class="details_block_first_left_about_block_left_block">
            <p class="details_block_first_left_about_block_third">Cylinders</p>
            <p class="details_block_first_left_about_block_forty">8</p>
          </div>
          <div class="details_block_first_left_about_block_left_block">
            <p class="details_block_first_left_about_block_third">Interior</p>
            <p class="details_block_first_left_about_block_forty">Black</p>
          </div>
          <div class="details_block_first_left_about_block_left_block">
            <p class="details_block_first_left_about_block_third">Location</p>
            <p class="details_block_first_left_about_block_forty">Dubai</p>
          </div>
          <div class="details_block_first_left_about_block_left_block">
            <p class="details_block_first_left_about_block_third">Export status</p>
            <p class="details_block_first_left_about_block_forty">Can be exported</p>
          </div>
        </div>
      </div>
      <div class="details_block_first_left_description">
        <p class="details_block_first_left_description_main_text">Description</p>
        <p class="details_block_first_left_description_text">Toyota Land Cruiser 2017 ZX-G Frontier Face-Lifted Petrol 4.6L Sunroof 4WD AT 7 Electric Leather Seats [RHD Japan Import] Premium Condition.
          ----------------------------------------------------------------------------------------------------------------------
          Quis blandit turpis cursus in hac. In hendrerit gravida rutrum quisque. Pellentesque habitant morbi tristique senectus et. Eget gravida cum sociis natoque. Pharetra diam sit amet nisl suscipit adipiscing bibendum.

          Porttitor massa id neque aliquam. In fermentum posuere urna nec. Rhoncus aenean vel elit scelerisque mauris pellentesque. Nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi. Consequat id porta nibh venenatis cras sed.</p>
      </div>
    </div>
    <div class="details_block_first_left_about_block_right">
      <p class="details_block_first_left_about_block_right_main_text">Toyota Land Cruiser 2017 ZX-G Frontier Face-Lifted Petrol 4.6L Sunroof 4WD</p>
      <p class="details_block_first_left_about_block_right_price_text">$45,995</p>
      <div class="details_block_first_left_about_block_right_price_texts">
        <div class="details_block_first_left_about_block_right_price_texts_block">
          <p class="details_block_first_left_about_block_right_price_texts_block_first_text">Year</p>
          <p class="details_block_first_left_about_block_right_price_texts_block_second_text">2017</p>
        </div>
        <div class="details_block_first_left_about_block_right_price_texts_block">
          <p class="details_block_first_left_about_block_right_price_texts_block_first_text">Kilometers</p>
          <p class="details_block_first_left_about_block_right_price_texts_block_second_text">15,000</p>
        </div>
        <div class="details_block_first_left_about_block_right_price_texts_block">
          <p class="details_block_first_left_about_block_right_price_texts_block_first_text">Location</p>
          <p class="details_block_first_left_about_block_right_price_texts_block_second_text">Dubai</p>
        </div>
        <div class="details_block_first_left_about_block_right_price_texts_block">
          <p class="details_block_first_left_about_block_right_price_texts_block_first_text">Export status</p>
          <p class="details_block_first_left_about_block_right_price_texts_block_second_text">Can be exported</p>
        </div>
      </div>
      <p class="details_block_first_left_about_block_right_second_text">Interested in this car or want a personalized offer of the best deals?</p>
      <p class="details_block_first_left_about_block_right_third_text">Contact us and our manager will give you all the information you need.</p>
      <button class="details_block_first_left_about_block_right_button">Check availability</button>
      <div class="details_block_first_left_about_block_right_button_second">
        <img src="../static/img/WhatsAppBlack.png" alt="WhatsApp">
        <p>+971 55 811 9024</p>
      </div>
      <div class="details_block_first_left_about_block_right_button_third">
        <img src="../static/img/MailBlack.png" alt="Mail">
        <p>request@example.com</p>
      </div>
      <div class="details_block_first_left_about_block_right_second_block">
        <p class="details_block_first_left_about_block_right_second_block_main_text">Vehicle inspection</p>
        <div>
          <img src="../static/img/yes2.png" alt="Allow">
          <p>Inspected</p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer_block">
  <div class="footer_block_content">
    <div class="footer_block_content_first_block">
      <img src=".././static/img/Logo.png" alt="eCars">
      <p class="footer_block_content_first_block_main_text">Nullam non nisi est sit amet. Arcu vitae elementum curabitur vitae nunc. Ut tellus elementum sagittis vitae et leo duis.</p>
      <div class="footer_block_content_first_block_img">
        <img src=".././static/img/Facebook2.png" alt="Facebook">
        <img src=".././static/img/Twitter2.png" alt="Twitter">
        <img src=".././static/img/YouTube2.png" alt="YouTube">
        <img src=".././static/img/Instagram2.png" alt="Instagram">
      </div>
    </div>
    <div class="footer_block_content_second_block">
      <p class="footer_block_content_second_block_main_text">Company</p>
      <p class="footer_block_content_second_block_next_text">About Us</p>
      <p class="footer_block_content_second_block_next2_text">Blog</p>
      <p class="footer_block_content_second_block_next2_text">FAQ</p>
    </div>
    <div class="footer_block_content_second_block">
      <p class="footer_block_content_second_block_main_text">Cars</p>
      <p class="footer_block_content_second_block_next_text">Special offers</p>
      <p class="footer_block_content_second_block_next2_text">New cars</p>
      <p class="footer_block_content_second_block_next2_text">Used cars</p>
      <p class="footer_block_content_second_block_next2_text">Brands</p>
    </div>
    <div class="footer_block_content_second_block">
      <p class="footer_block_content_second_block_main_text">Contacts</p>
      <div class="footer_block_content_second_block_inner">
        <img class="footer_block_content_second_block_inner_img" src=".././static/img/Whatsapp2.png" alt="WhatsApp">
        <p class="footer_block_content_second_block_next_text">+971 55 811 9024</p>
      </div>
      <div class="footer_block_content_second_block_inner">
        <img class="footer_block_content_second_block_inner_img" src=".././static/img/Email2.png" alt="Email">
        <p class="footer_block_content_second_block_next2_text">request@example.com</p>
      </div>
    </div>
  </div>
  <div class="footer_block_content2">
    <p class="footer_block_content2_first_text">eCars © 2022. All rights reserved.</p>
    <div class="footer_block_content2_inner_block">
      <p class="footer_block_content2_second_text">Privacy Policy</p>
      <p class="footer_block_content2_three_text">Terms & Conditions</p>
    </div>
  </div>
</footer>
</body>
</html>