<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,200;0,600;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/main_page.css}">
  <link rel="stylesheet" th:href="@{/css/faq_page.css}">
</head>
<body>
<header>
  <div class="container_head">
    <a class="container_head_img" href="https://github.com/alken1t15"><img class="container_head_img_facebook" th:src="@{/img/Facebook.png}"
                                                                           alt="Facebook"></a>
    <a class="container_head_img" href="https://github.com/alken1t15"><img class="twitter_img" th:src="@{/img/Twitter.png}" alt="Twitter"></a>
    <a class="container_head_img" href="https://github.com/alken1t15"><img class="youtube_img" th:src="@{/img/YouTube.png}" alt="YouTube"></a>
    <a class="container_head_img" href="https://github.com/alken1t15"><img class="instagram_whatsapp_img" th:src="@{/img/Instagram.png}"
                                                                           alt="Instagram"></a>
    <a class="container_head_img" href="https://github.com/alken1t15"><img class="instagram_whatsapp_img" th:src="@{/img/WhatsApp.png}"
                                                                           alt="WhatsApp"></a>
    <p class="number_phone_header">+ 7 747 165 57 80</p>
    <a class="mail_header_img" href="mailto:alken1t15@gmail.com"><img th:src="@{/img/mail.png}" alt="Mail"></a>
    <a class="mail_header_text" href="mailto:alken1t15@gmail.com">alken1t15@gmail.com</a>
    <img class="map_container_img" th:src="@{/img/Map.png}" alt="Map">
    <p class="text_container_map">Ship to:</p>
    <img class="flag_country_header" th:src="@{/img/flag_canada.png}" alt="Flag">
    <select class="select_country_header">
      <option>
        Canada
      </option>
      <option>
        USA
      </option>
    </select>
    <p class="currency_header_text">Currency:</p>
    <select class="select_country_header">
      <option>USD</option>
      <option>EUR</option>
    </select>
    <a class="help_img_header" href=""><img th:src="@{/img/help.png}" alt="Help"></a>
    <a href="" class="text_help_header">Help</a>
  </div>
  <div class="container_head_two">
    <a th:href="@{/main}"><img th:src="@{/img/Logo.png}"></a>
    <a class="test_container_head" th:href="@{/catalog}">All Cars</a>
    <a class="test_container_head" th:href="@{/about}">About Us</a>
    <a class="test_container_head" th:href="@{/blog}">Blog</a>
    <a class="test_container_head" href="">Contact</a>
    <div class="container_two_imgs">
      <img class="container_two_search_img" th:src="@{/img/Search.png}" alt="Search">
      <img class="container_two_heart_img" th:src="@{/img/Heart.png}" alt="Heart">
      <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/profile}"><img class="container_two_profile_img" th:src="@{/img/Profile.png}" alt="Profile"></a>
      <a th:unless="${#authorization.expression('isAuthenticated()')}" th:href="@{/login}"><img class="container_two_profile_img" th:src="@{/img/Profile.png}" alt="Profile"></a>
    </div>
    <button class="button_container_two">Get a quote</button>
  </div>
</header>

<section class="main_content">
  <div>
    <p class="main_content_text">Frequently asked questions</p>
    <div class="main_content_text_contents">
      <button class="main_content_information">
        <p class="main_content_information_text">What are the guarantees?</p>
        <span class="arrow">▶</span>
      </button>
      <div class="content">
        <p>Shipping varies depending on the car you are buying as its calculated by the dimensions of each unit. There is RORO and Container so depending on your choice we will be able to give you an estimate, closer to the shipping date we will share an exact quote.</p>
      </div>
      <div class="main_content_information">
        <p class="main_content_information_text">How much does shipping cost?</p>
        <span class="arrow">▶</span>
      </div>
      <div class="content">
        <p>Shipping varies depending on the car you are buying as its calculated by the dimensions of each unit. There is RORO and Container so depending on your choice we will be able to give you an estimate, closer to the shipping date we will share an exact quote.</p>
      </div>
      <div class="main_content_information">
        <p class="main_content_information_text">Are you a car dealer?</p>
        <span class="arrow">▶</span>
      </div>
      <div class="content">
        <p>Shipping varies depending on the car you are buying as its calculated by the dimensions of each unit. There is RORO and Container so depending on your choice we will be able to give you an estimate, closer to the shipping date we will share an exact quote.</p>
      </div>
      <div class="main_content_information">
        <p class="main_content_information_text">Do I have to buy a car from Dubicars only?</p>
        <span class="arrow">▶</span>
      </div>
      <div class="content">
        <p>Shipping varies depending on the car you are buying as its calculated by the dimensions of each unit. There is RORO and Container so depending on your choice we will be able to give you an estimate, closer to the shipping date we will share an exact quote.</p>
      </div>
      <div class="main_content_information">
        <p class="main_content_information_text">How long does it take from the time I sign up to shipping time?</p>
        <span class="arrow">▶</span>
      </div>
      <div class="content">
        <p>Shipping varies depending on the car you are buying as its calculated by the dimensions of each unit. There is RORO and Container so depending on your choice we will be able to give you an estimate, closer to the shipping date we will share an exact quote.</p>
      </div>
      <div class="main_content_information">
        <p class="main_content_information_text">How long does the inspection take?</p>
        <span class="arrow">▶</span>
      </div>
      <div class="content">
        <p>Shipping varies depending on the car you are buying as its calculated by the dimensions of each unit. There is RORO and Container so depending on your choice we will be able to give you an estimate, closer to the shipping date we will share an exact quote.</p>
      </div>
      <div class="main_content_information">
        <p class="main_content_information_text">What if the inspection fails?</p>
        <span class="arrow">▶</span>
      </div>
      <div class="content">
        <p>Shipping varies depending on the car you are buying as its calculated by the dimensions of each unit. There is RORO and Container so depending on your choice we will be able to give you an estimate, closer to the shipping date we will share an exact quote.</p>
      </div>
      <div class="main_content_information">
        <p class="main_content_information_text">Can you help me with Car Repair if needed?</p>
        <span class="arrow">▶</span>
      </div>
      <div class="content">
        <p>Shipping varies depending on the car you are buying as its calculated by the dimensions of each unit. There is RORO and Container so depending on your choice we will be able to give you an estimate, closer to the shipping date we will share an exact quote.</p>
      </div>
      <div class="main_content_information">
        <p class="main_content_information_text">I’m buying 2 cars, do I have to pay again for Export Safe?</p>
        <span class="arrow">▶</span>
      </div>
      <div class="content">
        <p>Shipping varies depending on the car you are buying as its calculated by the dimensions of each unit. There is RORO and Container so depending on your choice we will be able to give you an estimate, closer to the shipping date we will share an exact quote.</p>
      </div>
      <div class="main_content_information">
        <p class="main_content_information_text">Can I get a refund if I don’t buy a car?</p>
        <span class="arrow">▶</span>
      </div>
      <div class="content">
        <p>Shipping varies depending on the car you are buying as its calculated by the dimensions of each unit. There is RORO and Container so depending on your choice we will be able to give you an estimate, closer to the shipping date we will share an exact quote.</p>
      </div>
      <div class="main_content_information">
        <p class="main_content_information_text">What about customs, duty, VAT and clearance?</p>
        <span class="arrow">▶</span>
      </div>
      <div class="content">
        <p>Shipping varies depending on the car you are buying as its calculated by the dimensions of each unit. There is RORO and Container so depending on your choice we will be able to give you an estimate, closer to the shipping date we will share an exact quote.</p>
      </div>
      <div class="main_content_information">
        <p class="main_content_information_text">What are the payment Methods?</p>
        <span class="arrow">▶</span>
      </div>
      <div class="content">
        <p>Shipping varies depending on the car you are buying as its calculated by the dimensions of each unit. There is RORO and Container so depending on your choice we will be able to give you an estimate, closer to the shipping date we will share an exact quote.</p>
      </div>
    </div>
    <div class="contact_block">
      <div class="contact_block_texts">
        <p class="contact_block_texts_main">Do you still have questions? Contact us for answers.</p>
        <p class="contact_block_texts_second">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
      </div>
      <button class="contact_block_button">Contact Us</button>
    </div>
  </div>

</section>

<footer class="footer_block">
  <div class="footer_block_content">
    <div class="footer_block_content_first_block">
      <img th:src="@{/img/Logo.png}" alt="eCars">
      <p class="footer_block_content_first_block_main_text">Nullam non nisi est sit amet. Arcu vitae elementum
        curabitur vitae nunc. Ut tellus elementum sagittis vitae et leo duis.</p>
      <div class="footer_block_content_first_block_img">
        <img th:src="@{/img/Facebook2.png}" href="https://github.com/alken1t15" alt="Facebook">
        <img th:src="@{/img/Twitter2.png}" href="https://github.com/alken1t15" alt="Twitter">
        <img th:src="@{/img/YouTube2.png}" href="https://github.com/alken1t15" alt="YouTube">
        <img th:src="@{/img/Instagram2.png}" href="https://github.com/alken1t15" alt="Instagram">
      </div>
    </div>
    <div class="footer_block_content_second_block">
      <p class="footer_block_content_second_block_main_text">Company</p>
      <a th:href="@{/about}" class="footer_block_content_second_block_next_text">About Us</a>
      <p class="footer_block_content_second_block_next2_text">Blog</p>
      <a th:href="@{/frequently}" class="footer_block_content_second_block_next2_text">FAQ</a>
    </div>
    <div class="footer_block_content_second_block">
      <p class="footer_block_content_second_block_main_text">Cars</p>
      <p class="footer_block_content_second_block_next_text">Special offers</p>
      <p class="footer_block_content_second_block_next2_text">New cars</p>
      <p class="footer_block_content_second_block_next2_text">Used cars</p>
      <p class="footer_block_content_second_block_next2_text">Brands</p>
    </div>
    <div class="footer_block_content_second_block">
      <p class="footer_block_content_second_block_main_text">Contacts</p>
      <div class="footer_block_content_second_block_inner">
        <img class="footer_block_content_second_block_inner_img" th:src="@{/img/Whatsapp2.png}" alt="WhatsApp">
        <p class="footer_block_content_second_block_next_text">+ 7 747 165 57 80</p>
      </div>
      <div class="footer_block_content_second_block_inner">
        <img class="footer_block_content_second_block_inner_img" th:src="@{/img/Email2.png}" alt="Email">
        <a class="footer_block_content_second_block_next2_text"  href="mailto:alken1t15@gmail.com">alken1t15@gmail.com</a>
      </div>
    </div>
  </div>
  <div class="footer_block_content2">
    <p class="footer_block_content2_first_text">eCars © 2022. All rights reserved.</p>
    <div class="footer_block_content2_inner_block">
      <p class="footer_block_content2_second_text">Privacy Policy</p>
      <p class="footer_block_content2_three_text">Terms & Conditions</p>
    </div>
  </div>
</footer>
<script th:src="@{/js/faq_page.js}"></script>
</body>
</html>