<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="../static/css/main_page.css">
  <link rel="stylesheet" href="../static/css/forgot_page_third.css">
</head>
<body>
<header>
  <div class="container_head">
    <a class="container_head_img" href="https://github.com/alken1t15"><img class="container_head_img_facebook" th:src="@{/img/Facebook.png}"
                                                                           alt="Facebook"></a>
    <a class="container_head_img" href="https://github.com/alken1t15"><img class="twitter_img" th:src="@{/img/Twitter.png}" alt="Twitter"></a>
    <a class="container_head_img" href="https://github.com/alken1t15"><img class="youtube_img" th:src="@{/img/YouTube.png}" alt="YouTube"></a>
    <a class="container_head_img" href="https://github.com/alken1t15"><img class="instagram_whatsapp_img" th:src="@{/img/Instagram.png}"
                                                                           alt="Instagram"></a>
    <a class="container_head_img" href="https://github.com/alken1t15"><img class="instagram_whatsapp_img" th:src="@{/img/WhatsApp.png}"
                                                                           alt="WhatsApp"></a>
    <p class="number_phone_header">+ 7 747 165 57 80</p>
    <a class="mail_header_img" href="mailto:alken1t15@gmail.com"><img th:src="@{/img/mail.png}" alt="Mail"></a>
    <a class="mail_header_text" href="mailto:alken1t15@gmail.com">alken1t15@gmail.com</a>
    <img class="map_container_img" th:src="@{/img/Map.png}" alt="Map">
    <p class="text_container_map">Ship to:</p>
    <img class="flag_country_header" th:src="@{/img/flag_canada.png}" alt="Flag">
    <select class="select_country_header">
      <option>
        Canada
      </option>
      <option>
        USA
      </option>
    </select>
    <p class="currency_header_text">Currency:</p>
    <select class="select_country_header">
      <option>USD</option>
      <option>EUR</option>
    </select>
    <a class="help_img_header" href=""><img th:src="@{/img/help.png}" alt="Help"></a>
    <a href="" class="text_help_header">Help</a>
  </div>
  <div class="container_head_two">
    <a th:href="@{/main}"><img th:src="@{/img/Logo.png}"></a>
    <a class="test_container_head" th:href="@{/catalog}">All Cars</a>
    <a class="test_container_head" th:href="@{/about}">About Us</a>
    <a class="test_container_head" th:href="@{/blog}">Blog</a>
    <a class="test_container_head" href="">Contact</a>
    <div class="container_two_imgs">
      <img class="container_two_search_img" th:src="@{/img/Search.png}" alt="Search">
      <img class="container_two_heart_img" th:src="@{/img/Heart.png}" alt="Heart">
      <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/profile}"><img class="container_two_profile_img" th:src="@{/img/Profile.png}" alt="Profile"></a>
      <a th:unless="${#authorization.expression('isAuthenticated()')}" th:href="@{/login}"><img class="container_two_profile_img" th:src="@{/img/Profile.png}" alt="Profile"></a>
    </div>
    <button class="button_container_two">Get a quote</button>
  </div>
</header>
<section class="forgot_block">
  <div>
    <p class="forgot_block_main_text">Password has been reset</p>
    <p class="forgot_block_second_text">Your password has been successfully reset. Click the button below to log in.</p>
    <button class="forgot_block_button">Login</button>
  </div>
</section>
<footer class="footer_block">
  <div class="footer_block_content">
    <div class="footer_block_content_first_block">
      <img src=".././static/img/Logo.png" alt="eCars">
      <p class="footer_block_content_first_block_main_text">Nullam non nisi est sit amet. Arcu vitae elementum curabitur vitae nunc. Ut tellus elementum sagittis vitae et leo duis.</p>
      <div class="footer_block_content_first_block_img">
        <img src=".././static/img/Facebook2.png" alt="Facebook">
        <img src=".././static/img/Twitter2.png" alt="Twitter">
        <img src=".././static/img/YouTube2.png" alt="YouTube">
        <img src=".././static/img/Instagram2.png" alt="Instagram">
      </div>
    </div>
    <div class="footer_block_content_second_block">
      <p class="footer_block_content_second_block_main_text">Company</p>
      <p class="footer_block_content_second_block_next_text">About Us</p>
      <p class="footer_block_content_second_block_next2_text">Blog</p>
      <p class="footer_block_content_second_block_next2_text">FAQ</p>
    </div>
    <div class="footer_block_content_second_block">
      <p class="footer_block_content_second_block_main_text">Cars</p>
      <p class="footer_block_content_second_block_next_text">Special offers</p>
      <p class="footer_block_content_second_block_next2_text">New cars</p>
      <p class="footer_block_content_second_block_next2_text">Used cars</p>
      <p class="footer_block_content_second_block_next2_text">Brands</p>
    </div>
    <div class="footer_block_content_second_block">
      <p class="footer_block_content_second_block_main_text">Contacts</p>
      <div class="footer_block_content_second_block_inner">
        <img class="footer_block_content_second_block_inner_img" src=".././static/img/Whatsapp2.png" alt="WhatsApp">
        <p class="footer_block_content_second_block_next_text">+971 55 811 9024</p>
      </div>
      <div class="footer_block_content_second_block_inner">
        <img class="footer_block_content_second_block_inner_img" src=".././static/img/Email2.png" alt="Email">
        <p class="footer_block_content_second_block_next2_text">request@example.com</p>
      </div>
    </div>
  </div>
  <div class="footer_block_content2">
    <p class="footer_block_content2_first_text">eCars © 2022. All rights reserved.</p>
    <div class="footer_block_content2_inner_block">
      <p class="footer_block_content2_second_text">Privacy Policy</p>
      <p class="footer_block_content2_three_text">Terms & Conditions</p>
    </div>
  </div>
</footer>
</body>
</html>