<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/css/main_page.css">
</head>
<body>
<header>
    <div class="container_head">
        <a class="container_head_img" href=""><img class="container_head_img_facebook" src="../static/img/Facebook.png" alt="Facebook"></a>
        <a class="container_head_img" href=""><img class=twitter_img" src="../static/img/Twitter.png" alt="Twitter"></a>
        <a class="container_head_img" href=""><img class="youtube_img" src="../static/img/YouTube.png" alt="YouTube"></a>
        <a class="container_head_img" href=""><img class="instagram_whatsapp_img" src="../static/img/Instagram.png" alt="Instagram"></a>
        <a class="container_head_img" href=""><img class="instagram_whatsapp_img" src="../static/img/WhatsApp.png" alt="WhatsApp"></a>
        <p class="number_phone_header">+ 971 55 811 9024</p>
        <a class="mail_header_img" href="mailto:request@example.com"><img src="../static/img/mail.png" alt="Mail"></a>
        <a class="mail_header_text" href="mailto:request@example.com">request@example.com</a>
        <img class="map_container_img" src="../static/img/Map.png" alt="Map">
        <p class="text_container_map">Ship to:</p>
        <img class="flag_country_header" src="../static/img/flag_canada.png" alt="Flag">
        <select class="select_country_header">
            <option>
                Canada
            </option>
            <option>
                USA
            </option>
        </select>
        <p class="currency_header_text">Currency:</p>
        <select class="select_country_header">
            <option>USD</option>
            <option>EUR</option>
        </select>
        <a class="help_img_header" href=""><img src="../static/img/help.png" alt="Help"></a>
        <a href="" class="text_help_header">Help</a>
    </div>
    <div class="container_head_two">
        <a href=""><img src="../static/img/Logo.png"></a>
        <a class="test_container_head" href="">All Cars</a>
        <a class="test_container_head" href="">About Us</a>
        <a class="test_container_head" href="">Blog</a>
        <a class="test_container_head" href="">Contact</a>
        <div class="container_two_imgs">
            <img class="container_two_search_img" src="../static/img/Search.png" alt="Search">
            <img class="container_two_heart_img" src="../static/img/Heart.png" alt="Heart">
            <img class="container_two_profile_img" src="../static/img/Profile.png" alt="Profile">
        </div>
        <button class="button_container_two">Get a quote</button>
    </div>
</header>
<section class="section_one">
    <div class="section_one_texts">
        <p class="section_one_main_text">Car import services with delivery to your doorstep.</p>
        <button class="section_one_button">Get a quote</button>
        <div class="section_one_contact">
            <img src="../static/img/WhatsAppBlack.png" alt="WhatsApp">
            <p class="section_one_text_phone">+971 55 811 9024</p>
            <a href="mailto:request@example.com"><img class="section_one_img_mail" src="../static/img/MailBlack.png" alt="Mail"></a>
            <a href="mailto:request@example.com" class="section_one_text_phone">request@example.com</a>
        </div>
        <div class="block_information">
            <div class="block_information_inner_block">
                <div>
                    <p class="block_information_background_fon"><img src="../static/img/Profile2.png" alt="Profile"></p>
                </div>
                <div class="main_block_text_block_information">
                    <p class="main_text_block_information">Professional approach to clients</p>
                    <p class="bio_text_block_information">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </div>
            </div>
            <div class="block_information_inner_block">
                <div>
                    <p class="block_information_background_fon"><img src="../static/img/information1.png" alt="Profile"></p>
                </div>
                <div class="main_block_text_block_information">
                    <p class="main_text_block_information">Protect all payments</p>
                    <p class="bio_text_block_information">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </div>
            </div>
            <div class="block_information_inner_block">
                <div>
                    <p class="block_information_background_fon"><img src="../static/img/information2.png" alt="Profile"></p>
                </div>
                <div class="main_block_text_block_information">
                    <p class="main_text_block_information">Real reviews from clients</p>
                    <p class="bio_text_block_information">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="special_section">
    <div class="heading">
        <div>
            <p class="heading_text">Special offers</p>
        </div>
        <div class="heading_text_block">
            <img class="arrow arrow3" src="../static/img/left.png" alt="arrow">
            <img class="arrow arrow4" src="../static/img/right.png" alt="arrow">
            <p class="heading_text_two">See all cars</p>
            <img class="arrow2" src="../static/img/right2.png" alt="arrow">
        </div>
    </div>
    <div class="all_cart">
        <div class="block_car">
            <img class="img_car" src="../static/img/car.png" alt="Car">
            <div class="block_information_car">
                <div class="text_car_about">
                <p class="text_header">2021 Genesis GV80 2.5T</p>
                <p class="text_car">Used • 27,057 mi • Petrol</p>
                </div>
                <div class="block_information_car_inner">
                    <div>
                        <p><span class="price">$45,995</span> <span class="discount">$51,490</span></p>
                    </div>
                    <div class="details_car">
                        <p class="text_details">Details</p>
                        <img class="arrow_car" src="../static/img/right3.png" alt="arrow">
                    </div>
                </div>
            </div>
        </div>
        <div class="block_car">
            <img class="img_car" src="../static/img/car2.png" alt="Car">
            <div class="block_information_car">
                <div class="text_car_about">
                <p class="text_header">2019 Mitsubishi Outlander Sport 2.0 SE</p>
                <p class="text_car">Used • 27,057 mi • Petrol</p>
                </div>
                <div class="block_information_car_inner">
                    <div>
                        <p><span class="price">$45,995</span> <span class="discount">$51,490</span></p>
                    </div>
                    <div class="details_car">
                        <p class="text_details">Details</p>
                        <img class="arrow_car" src="../static/img/right3.png" alt="arrow">
                    </div>
                </div>
            </div>
        </div>
        <div class="block_car">
            <img class="img_car" src="../static/img/car3.png" alt="Car">
            <div class="block_information_car">
                <div class="text_car_about">
                <p class="text_header">2019 BMW 640 Gran Turismo i xDrive</p>
                <p class="text_car">Used • 27,057 mi • Petrol</p>
                </div>
                <div class="block_information_car_inner">
                    <div>
                        <p><span class="price">$45,995</span> <span class="discount">$51,490</span></p>
                    </div>
                    <div class="details_car">
                        <p class="text_details">Details</p>
                        <img class="arrow_car" src="../static/img/right3.png" alt="arrow">
                    </div>
                </div>
            </div>
        </div>
        <div class="block_car">
            <img class="img_car" src="../static/img/car4.png" alt="Car">
            <div class="block_information_car">
                <div class="text_car_about">
                    <p class="text_header">2020 Subaru Ascent Touring 7-Passenger</p>
                    <p class="text_car">Used • 27,057 mi • Petrol</p>
                </div>
                <div class="block_information_car_inner">
                    <div>
                        <p><span class="price">$45,995</span> <span class="discount">$51,490</span></p>
                    </div>
                    <div class="details_car">
                        <p class="text_details">Details</p>
                        <img class="arrow_car" src="../static/img/right3.png" alt="arrow">
                    </div>
                </div>
            </div>
        </div>
        <div class="block_car">
            <img class="img_car" src="../static/img/car.png" alt="Car">
            <div class="block_information_car">
                <div class="text_car_about">
                <p class="text_header">2021 Genesis GV80 2.5T</p>
                <p class="text_car">Used • 27,057 mi • Petrol</p>
                </div>
                <div class="block_information_car_inner">
                    <div>
                        <p><span class="price">$45,995</span> <span class="discount">$51,490</span></p>
                    </div>
                    <div class="details_car">
                        <p class="text_details">Details</p>
                        <img class="arrow_car" src="../static/img/right3.png" alt="arrow">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="brand_block">
        <p class="brand_text_main">Browse by brand</p>
        <div class="blocks_brand">
            <div class="inner_block_brand">
                <div class="img_block_brand">
                    <img src=".././static/img/ford.png" alt="Ford">
                </div>
                <p class="text_brand">Ford</p>
            </div>
            <div class="inner_block_brand">
                <div class="img_block_brand">
                    <img src=".././static/img/Volkswagen.png" alt="Volkswagen">
                </div>
                <p class="text_brand">Volkswagen</p>
            </div>
            <div class="inner_block_brand">
                <div class="img_block_brand">
                    <img src=".././static/img/Volvo.png" alt="Volvo">
                </div>
                <p class="text_brand">Volvo</p>
            </div>
            <div class="inner_block_brand">
                <div class="img_block_brand">
                    <img src=".././static/img/Tesla.png" alt="Tesla">
                </div>
                <p class="text_brand">Tesla</p>
            </div>
            <div class="inner_block_brand">
                <div class="img_block_brand">
                    <img src=".././static/img/Lexus.png" alt="Lexus">
                </div>
                <p class="text_brand">Lexus</p>
            </div>
            <div class="inner_block_brand">
                <div class="img_block_brand">
                    <img src=".././static/img/Land Rover.png" alt="Land Rover">
                </div>
                <p class="text_brand">Land Rover</p>
            </div>
        </div>
        <div class="texts_block_brand">
            <p class="text_block_brand">Show all brands</p>
            <img  src=".././static/img/arrowBottom.png" alt="Arrow Bottom">
        </div>
    </div>
</section>
<div class="inquiry_block">
    <div class="inner_inquiry_block">
        <div>
            <p class="main_text_inquiry_block">Send an inquiry now and get the best offers suitable for your requirements</p>
            <p class="second_text_inquiry_block">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <button class="button_inquiry_block">Get a quote</button>
    </div>
</div>
<section class="how_work_block">
    <p class="main_text_how_work_block">How it works</p>
    <div class="texts_how_work_block">
        <p class="second_text_how_work_block">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
    </div>
    <div class="blocks_how_work_block">
        <div>
            <div class="how_work_block_inner">
                <p class="number_how_work_block_inner">1</p>
            </div>
            <p class="main_text_how_work_block_inner">Find a car</p>
            <div class="text_block_how_work_block_inner">
                <p class="second_text_how_work_block_inner">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
            </div>
        </div>
        <img src=".././static/img/line.png" alt="Line">
        <div>
            <div class="how_work_block_inner">
                <p class="number_how_work_block_inner">2</p>
            </div>
            <p class="main_text_how_work_block_inner">Extensive inspection</p>
            <div class="text_block_how_work_block_inner">
                <p class="second_text_how_work_block_inner">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
            </div>
        </div>        <img src=".././static/img/line.png" alt="Line">
        <div>
            <div class="how_work_block_inner">
                <p class="number_how_work_block_inner">3</p>
            </div>
            <p class="main_text_how_work_block_inner">Safe Buying</p>
            <div class="text_block_how_work_block_inner">
                <p class="second_text_how_work_block_inner">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
            </div>
        </div>        <img src=".././static/img/line.png" alt="Line">
        <div>
            <div class="how_work_block_inner">
                <p class="number_how_work_block_inner">4</p>
            </div>
            <p class="main_text_how_work_block_inner">Delivery and support</p>
            <div class="text_block_how_work_block_inner">
                <p class="second_text_how_work_block_inner">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
            </div>
        </div>
    </div>
</section>
<section class="why_choose_block">
    <div>
        <img src=".././static/img/choose.png" alt="Choose">
    </div>
    <div class="why_choose_block_texts">
        <p class="why_choose_block_main_text">Why choose us</p>
        <p class="why_choose_block_second_text">Quis blandit turpis cursus in hac. In hendrerit gravida rutrum quisque. Pellentesque habitant morbi tristique senectus et. Eget gravida cum sociis natoque. Pharetra diam sit amet nisl suscipit adipiscing bibendum.</p>
        <p class="why_choose_block_second_text">Porttitor massa id neque aliquam. In fermentum posuere urna nec. Rhoncus aenean vel elit scelerisque mauris pellentesque. Nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi. Consequat id porta nibh venenatis cras sed.</p>
        <div class="why_choose_block_inner">
            <div class="why_choose_block_inner_block">
                <img class="img_why_choose_block_inner_block" src=".././static/img/line2.png" alt="Line">
                <div>
                    <p class="why_choose_block_inner_block_main_text">Some headline</p>
                    <p class="why_choose_block_inner_block_second_text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </div>
            </div>
            <div class="why_choose_block_inner_block">
                <img class="img_why_choose_block_inner_block" src=".././static/img/line2.png" alt="Line">
                <div>
                    <p class="why_choose_block_inner_block_main_text">Some headline</p>
                    <p class="why_choose_block_inner_block_second_text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </div>
            </div>
            <div class="why_choose_block_inner_block">
                <img class="img_why_choose_block_inner_block" src=".././static/img/line2.png" alt="Line">
                <div>
                    <p class="why_choose_block_inner_block_main_text">Some headline</p>
                    <p class="why_choose_block_inner_block_second_text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="happy_client_block">
    <div class="happy_client_block_text_main_block">
        <p class="happy_client_block_main_text">Our happy clients say about us</p>
        <div class="happy_client_block_text_main_block_button">
            <img class="happy_client_block_text_main_block_img" src=".././static/img/left.png" alt="Left">
            <img src=".././static/img/right.png" alt="Right">
        </div>
    </div>
    <div class="happy_client_block_comment">
        <div class="happy_client_block_comment_block">
            <div class="happy_client_block_comment_block_texts">
                <img src=".././static/img/user.png" alt="User">
                <div class="happy_client_block_comment_block_inner_text">
                    <div class="happy_client_block_comment_block_inner_texts">
                        <p class="text_main_happy_client">Robert Fox</p>
                        <p class="text_main_happy_client_second">BMW M850</p>
                    </div>
                    <div class="happy_client_block_comment_block_inner_text_star">
                        <img src=".././static/img/star.png" alt="Star">
                        <img src=".././static/img/star.png" alt="Star">
                        <img src=".././static/img/star.png" alt="Star">
                        <img src=".././static/img/star.png" alt="Star">
                        <img src=".././static/img/star.png" alt="Star">
                    </div>
                </div>
            </div>
            <p class="happy_client_block_comment_block_second_text">“Adipiscing at in tellus integer. Pellentesque massa placerat duis ultricies lacus. Nisi porta lorem mollis aliquam ut porttitor leo. Venenatis cras sed felis eget. Duis ultricies lacus sed turpis tincidunt. Interdum varius sit amet mattis. Libero justo laoreet sit amet cursus sit amet dictum sit. Consequat interdum varius sit amet mattis vulputate enim nulla.”</p>
        </div>
        <div class="happy_client_block_comment_block">
            <div class="happy_client_block_comment_block_texts">
                <img src=".././static/img/user2.png" alt="User">
                <div class="happy_client_block_comment_block_inner_text">
                    <div class="happy_client_block_comment_block_inner_texts">
                        <p class="text_main_happy_client">Cody Fisher</p>
                        <p class="text_main_happy_client_second">Mercedes-Benz C 63 AMG</p>
                    </div>
                    <div class="happy_client_block_comment_block_inner_text_star">
                        <img src=".././static/img/star.png" alt="Star">
                        <img src=".././static/img/star.png" alt="Star">
                        <img src=".././static/img/star.png" alt="Star">
                        <img src=".././static/img/star.png" alt="Star">
                        <img src=".././static/img/star.png" alt="Star">
                    </div>
                </div>
            </div>
            <p class="happy_client_block_comment_block_second_text">“Id ornare arcu odio ut sem nulla. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Velit dignissim sodales ut eu sem integer vitae justo. A erat nam at lectus urna duis convallis convallis. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque. Risus ultricies tristique nulla aliquet enim tortor. Consectetur a erat nam at.”</p>
        </div>
        <div class="happy_client_block_comment_block">
        <div class="happy_client_block_comment_block_texts">
            <img src=".././static/img/user3.png" alt="User">
            <div class="happy_client_block_comment_block_inner_text">
                <div class="happy_client_block_comment_block_inner_texts">
                    <p class="text_main_happy_client">Wade Warren</p>
                    <p class="text_main_happy_client_second">Lexus LS 460</p>
                </div>
                <div class="happy_client_block_comment_block_inner_text_star">
                    <img src=".././static/img/star.png" alt="Star">
                    <img src=".././static/img/star.png" alt="Star">
                    <img src=".././static/img/star.png" alt="Star">
                    <img src=".././static/img/star.png" alt="Star">
                    <img src=".././static/img/star.png" alt="Star">
                </div>
            </div>
        </div>
        <p class="happy_client_block_comment_block_second_text">“Nullam non nisi est sit amet. Arcu vitae elementum curabitur vitae nunc. Ut tellus elementum sagittis vitae et leo duis. Accumsan sit amet nulla facilisi morbi tempus iaculis. Nisl nunc mi ipsum faucibus. Pulvinar neque laoreet suspendisse interdum consectetur. Accumsan lacus vel facilisis volutpat est velit egestas dui id.“</p>
    </div>
        <div class="happy_client_block_comment_block">
            <div class="happy_client_block_comment_block_texts">
                <img src=".././static/img/user3.png" alt="User">
                <div class="happy_client_block_comment_block_inner_text">
                    <div class="happy_client_block_comment_block_inner_texts">
                        <p class="text_main_happy_client">Wade Warren</p>
                        <p class="text_main_happy_client_second">Lexus LS 460</p>
                    </div>
                    <div class="happy_client_block_comment_block_inner_text_star">
                        <img src=".././static/img/star.png" alt="Star">
                        <img src=".././static/img/star.png" alt="Star">
                        <img src=".././static/img/star.png" alt="Star">
                        <img src=".././static/img/star.png" alt="Star">
                        <img src=".././static/img/star.png" alt="Star">
                    </div>
                </div>
            </div>
            <p class="happy_client_block_comment_block_second_text">“Nullam non nisi est sit amet. Arcu vitae elementum curabitur vitae nunc. Ut tellus elementum sagittis vitae et leo duis. Accumsan sit amet nulla facilisi morbi tempus iaculis. Nisl nunc mi ipsum faucibus. Pulvinar neque laoreet suspendisse interdum consectetur. Accumsan lacus vel facilisis volutpat est velit egestas dui id.“</p>
        </div>
    </div>
</section>
<section class="section_blog">
    <div class="section_blog_main_text">
        <p class="section_blog_main_text_chapter">Read our blog</p>
        <div class="section_blog_main_text_all">
            <p class="section_blog_main_text_all_text">All articles</p>
            <img src=".././static/img/right2.png" alt="Arrow">
        </div>
    </div>
    <div class="section_blog_content">
        <div class="section_blog_content_block">
            <img src=".././static/img/blog.png" alt="Blog">
            <div class="section_blog_content_text">
                <p class="section_blog_content_block_tag">Guides</p>
                <p class="section_blog_content_block_main_text">The rising cost of fuel in the UAE and how to avoid it</p>
                <p class="section_blog_content_block_second_text">Accumsan sit amet nulla facilisi morbi tempus iaculis. Nisl nunc mi ipsum faucibus. Pulvinar neque laoreet suspendisse interdum consectetur.</p>
            </div>
        </div>
        <div class="section_blog_content_block">
            <img src=".././static/img/blog2.png" alt="Blog">
            <div class="section_blog_content_text">
                <p class="section_blog_content_block_tag2">News</p>
                <p class="section_blog_content_block_main_text">These new EV pick up trucks are about to be all the rage</p>
                <p class="section_blog_content_block_second_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="section_blog_content_block">
            <img src=".././static/img/blog3.png" alt="Blog">
            <div class="section_blog_content_text">
                <p class="section_blog_content_block_tag">Guides</p>
                <p class="section_blog_content_block_main_text">7 tips when buying a new car in UAE</p>
                <p class="section_blog_content_block_second_text">Platea dictumst quisque sagittis purus sit amet volutpat consequat. Porta nibh venenatis cras sed felis eget.</p>
            </div>
        </div>
    </div>
</section>
<section class="support_block">
    <div class="support_block_content">
        <img src=".././static/img/email.png" alt="Email">
        <p class="support_block_content_main_text">Send an inquiry and our managers will offer you the best deals.</p>
        <p class="support_block_content_second_text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
        <button class="support_block_content_button">Get a quote</button>
    </div>
    <img src=".././static/img/Line%201.png" alt="">
    <div class="support_block_content">
        <img src=".././static/img/question.png" alt="Question">
        <p class="support_block_content_main_text">Do you still have questions? Contact us for answers.</p>
        <p class="support_block_content_second_text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
        <button class="support_block_content_button2">Get a quote</button>
    </div>
</section>
<footer>
    <div>
        <div>
            <img src=".././static/img/Logo.png" alt="eCars">
            <p>Nullam non nisi est sit amet. Arcu vitae elementum curabitur vitae nunc. Ut tellus elementum sagittis vitae et leo duis.</p>
            <div>

            </div>
        </div>
    </div>
</footer>
</body>
</html>