<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/css/main_page.css">
</head>
<body>
<header>
    <div class="container_head">
        <a class="container_head_img" href=""><img class="container_head_img_facebook" src="../static/img/Facebook.png" alt="Facebook"></a>
        <a class="container_head_img" href=""><img class=twitter_img" src="../static/img/Twitter.png" alt="Twitter"></a>
        <a class="container_head_img" href=""><img class="youtube_img" src="../static/img/YouTube.png" alt="YouTube"></a>
        <a class="container_head_img" href=""><img class="instagram_whatsapp_img" src="../static/img/Instagram.png" alt="Instagram"></a>
        <a class="container_head_img" href=""><img class="instagram_whatsapp_img" src="../static/img/WhatsApp.png" alt="WhatsApp"></a>
        <p class="number_phone_header">+ 971 55 811 9024</p>
        <a class="mail_header_img" href="mailto:request@example.com"><img src="../static/img/mail.png" alt="Mail"></a>
        <a class="mail_header_text" href="mailto:request@example.com">request@example.com</a>
        <img class="map_container_img" src="../static/img/Map.png" alt="Map">
        <p class="text_container_map">Ship to:</p>
        <img class="flag_country_header" src="../static/img/flag_canada.png" alt="Flag">
        <select class="select_country_header">
            <option>
                Canada
            </option>
            <option>
                USA
            </option>
        </select>
        <p class="currency_header_text">Currency:</p>
        <select class="select_country_header">
            <option>USD</option>
            <option>EUR</option>
        </select>
        <a class="help_img_header" href=""><img src="../static/img/help.png" alt="Help"></a>
        <a href="" class="text_help_header">Help</a>
    </div>
    <div class="container_head_two">
        <a href=""><img src="../static/img/Logo.png"></a>
        <a class="test_container_head" href="">All Cars</a>
        <a class="test_container_head" href="">About Us</a>
        <a class="test_container_head" href="">Blog</a>
        <a class="test_container_head" href="">Contact</a>
        <div class="container_two_imgs">
            <img class="container_two_search_img" src="../static/img/Search.png" alt="Search">
            <img class="container_two_heart_img" src="../static/img/Heart.png" alt="Heart">
            <img class="container_two_profile_img" src="../static/img/Profile.png" alt="Profile">
        </div>
        <button class="button_container_two">Get a quote</button>
    </div>
</header>
<section class="section_one">
    <div class="section_one_texts">
        <p class="section_one_main_text">Car import services with delivery to your doorstep.</p>
        <button class="section_one_button">Get a quote</button>
        <div class="section_one_contact">
            <img src="../static/img/WhatsAppBlack.png" alt="WhatsApp">
            <p class="section_one_text_phone">+971 55 811 9024</p>
            <a href="mailto:request@example.com"><img class="section_one_img_mail" src="../static/img/MailBlack.png" alt="Mail"></a>
            <a href="mailto:request@example.com" class="section_one_text_phone">request@example.com</a>
        </div>
        <div class="block_information">
            <div class="block_information_inner_block">
                <div>
                    <p class="block_information_background_fon"><img src="../static/img/Profile2.png" alt="Profile"></p>
                </div>
                <div class="main_block_text_block_information">
                    <p class="main_text_block_information">Professional approach to clients</p>
                    <p class="bio_text_block_information">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </div>
            </div>
            <div class="block_information_inner_block">
                <div>
                    <p class="block_information_background_fon"><img src="../static/img/information1.png" alt="Profile"></p>
                </div>
                <div class="main_block_text_block_information">
                    <p class="main_text_block_information">Protect all payments</p>
                    <p class="bio_text_block_information">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </div>
            </div>
            <div class="block_information_inner_block">
                <div>
                    <p class="block_information_background_fon"><img src="../static/img/information2.png" alt="Profile"></p>
                </div>
                <div class="main_block_text_block_information">
                    <p class="main_text_block_information">Real reviews from clients</p>
                    <p class="bio_text_block_information">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="special_section">
    <div class="heading">
        <div>
            <p class="heading_text">Special offers</p>
        </div>
        <div class="heading_text_block">
            <img class="arrow arrow3" src="../static/img/left.png" alt="arrow">
            <img class="arrow arrow4" src="../static/img/right.png" alt="arrow">
            <p class="heading_text_two">See all cars</p>
            <img class="arrow2" src="../static/img/right2.png" alt="arrow">
        </div>
    </div>
    <div class="all_cart">
        <div class="block_car">
            <img class="img_car" src="../static/img/car.png" alt="Car">
            <div class="block_information_car">
                <div class="text_car_about">
                <p class="text_header">2021 Genesis GV80 2.5T</p>
                <p class="text_car">Used • 27,057 mi • Petrol</p>
                </div>
                <div class="block_information_car_inner">
                    <div>
                        <p><span class="price">$45,995</span> <span class="discount">$51,490</span></p>
                    </div>
                    <div class="details_car">
                        <p class="text_details">Details</p>
                        <img class="arrow_car" src="../static/img/right3.png" alt="arrow">
                    </div>
                </div>
            </div>
        </div>
        <div class="block_car">
            <img class="img_car" src="../static/img/car2.png" alt="Car">
            <div class="block_information_car">
                <div class="text_car_about">
                <p class="text_header">2019 Mitsubishi Outlander Sport 2.0 SE</p>
                <p class="text_car">Used • 27,057 mi • Petrol</p>
                </div>
                <div class="block_information_car_inner">
                    <div>
                        <p><span class="price">$45,995</span> <span class="discount">$51,490</span></p>
                    </div>
                    <div class="details_car">
                        <p class="text_details">Details</p>
                        <img class="arrow_car" src="../static/img/right3.png" alt="arrow">
                    </div>
                </div>
            </div>
        </div>
        <div class="block_car">
            <img class="img_car" src="../static/img/car3.png" alt="Car">
            <div class="block_information_car">
                <div class="text_car_about">
                <p class="text_header">2019 BMW 640 Gran Turismo i xDrive</p>
                <p class="text_car">Used • 27,057 mi • Petrol</p>
                </div>
                <div class="block_information_car_inner">
                    <div>
                        <p><span class="price">$45,995</span> <span class="discount">$51,490</span></p>
                    </div>
                    <div class="details_car">
                        <p class="text_details">Details</p>
                        <img class="arrow_car" src="../static/img/right3.png" alt="arrow">
                    </div>
                </div>
            </div>
        </div>
        <div class="block_car">
            <img class="img_car" src="../static/img/car4.png" alt="Car">
            <div class="block_information_car">
                <div class="text_car_about">
                    <p class="text_header">2020 Subaru Ascent Touring 7-Passenger</p>
                    <p class="text_car">Used • 27,057 mi • Petrol</p>
                </div>
                <div class="block_information_car_inner">
                    <div>
                        <p><span class="price">$45,995</span> <span class="discount">$51,490</span></p>
                    </div>
                    <div class="details_car">
                        <p class="text_details">Details</p>
                        <img class="arrow_car" src="../static/img/right3.png" alt="arrow">
                    </div>
                </div>
            </div>
        </div>
        <div class="block_car">
            <img class="img_car" src="../static/img/car.png" alt="Car">
            <div class="block_information_car">
                <div class="text_car_about">
                <p class="text_header">2021 Genesis GV80 2.5T</p>
                <p class="text_car">Used • 27,057 mi • Petrol</p>
                </div>
                <div class="block_information_car_inner">
                    <div>
                        <p><span class="price">$45,995</span> <span class="discount">$51,490</span></p>
                    </div>
                    <div class="details_car">
                        <p class="text_details">Details</p>
                        <img class="arrow_car" src="../static/img/right3.png" alt="arrow">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>