<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
  <link rel="stylesheet" th:href="@{/css/main_page.css}">
  <link rel="stylesheet" th:href="@{/css/sign_up_page.css}">
</head>
<body>
<header>
  <div class="container_head">
    <a class="container_head_img" href="https://github.com/alken1t15"><img class="container_head_img_facebook" th:src="@{/img/Facebook.png}"
                                                                           alt="Facebook"></a>
    <a class="container_head_img" href="https://github.com/alken1t15"><img class="twitter_img" th:src="@{/img/Twitter.png}" alt="Twitter"></a>
    <a class="container_head_img" href="https://github.com/alken1t15"><img class="youtube_img" th:src="@{/img/YouTube.png}" alt="YouTube"></a>
    <a class="container_head_img" href="https://github.com/alken1t15"><img class="instagram_whatsapp_img" th:src="@{/img/Instagram.png}"
                                                                           alt="Instagram"></a>
    <a class="container_head_img" href="https://github.com/alken1t15"><img class="instagram_whatsapp_img" th:src="@{/img/WhatsApp.png}"
                                                                           alt="WhatsApp"></a>
    <p class="number_phone_header">+ 7 747 165 57 80</p>
    <a class="mail_header_img" href="mailto:alken1t15@gmail.com"><img th:src="@{/img/mail.png}" alt="Mail"></a>
    <a class="mail_header_text" href="mailto:alken1t15@gmail.com">alken1t15@gmail.com</a>
    <img class="map_container_img" th:src="@{/img/Map.png}" alt="Map">
    <p class="text_container_map">Ship to:</p>
    <img class="flag_country_header" th:src="@{/img/flag_canada.png}" alt="Flag">
    <select class="select_country_header">
      <option>
        Canada
      </option>
      <option>
        USA
      </option>
    </select>
    <p class="currency_header_text">Currency:</p>
    <select class="select_country_header">
      <option>USD</option>
      <option>EUR</option>
    </select>
    <a class="help_img_header" href=""><img th:src="@{/img/help.png}" alt="Help"></a>
    <a href="" class="text_help_header">Help</a>
  </div>
  <div class="container_head_two">
    <a th:href="@{/main}"><img th:src="@{/img/Logo.png}"></a>
    <a class="test_container_head" th:href="@{/catalog}">All Cars</a>
    <a class="test_container_head" th:href="@{/about}">About Us</a>
    <a class="test_container_head" th:href="@{/blog}">Blog</a>
    <a class="test_container_head" href="">Contact</a>
    <div class="container_two_imgs">
      <img class="container_two_search_img" th:src="@{/img/Search.png}" alt="Search">
      <img class="container_two_heart_img" th:src="@{/img/Heart.png}" alt="Heart">
      <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/profile}"><img class="container_two_profile_img" th:src="@{/img/Profile.png}" alt="Profile"></a>
      <a th:unless="${#authorization.expression('isAuthenticated()')}" th:href="@{/login}"><img class="container_two_profile_img" th:src="@{/img/Profile.png}" alt="Profile"></a>
    </div>
    <button class="button_container_two">Get a quote</button>
  </div>
</header>
<section class="sign_up_block">
  <div>
    <form th:method="POST" th:action="@{/registration}">
      <p class="sign_up_block_main_text">Sign Up</p>
      <p class="sign_up_block_first_text">Full name</p>
      <input name="name" type="text" class="sign_up_block_input">
      <p class="error" th:if="${registrationError.isName()}">The Name cannot be empty</p>
      <p class="sign_up_block_second_text">Email address</p>
      <input name="login" type="email" class="sign_up_block_input">
      <p class="error" th:if="${registrationError.isLogin()}">The Email cannot be empty</p>
      <p class="sign_up_block_second_text">Password</p>
      <input name="password" type="password" class="sign_up_block_input">
      <p class="error" th:if="${registrationError.isPassword()}">The password cannot be empty</p>
      <p class="sign_up_block_second_text">Confirm password</p>
      <input name="password_confirm" type="password" class="sign_up_block_input">
      <p class="error" th:if="${registrationError.isPasswordConfirm()}">The passwords don't match</p>
      <p class="error" th:if="${registrationError.isPasswordNotCorrected()}">The passwords don't match</p>
      <div class="sign_up_block_texts">
        <input name="confirm" class="sign_up_block_texts_checkbox" type="checkbox">
        <p class="sign_up_block_texts_first">I agree to the </p>
        <p class="sign_up_block_texts_second">Terms of Service </p>
        <p class="sign_up_block_texts_first"> and </p>
        <p class="sign_up_block_texts_second">Privacy Policy</p>
      </div>
      <p class="error" th:if="${registrationError.isConfirm()}">You didn't agree</p>
      <button type="submit" class="sign_up_block_button">Sign Up</button>
    </form>
    <div class="sign_up_block_texts2">
      <p class="sign_up_block_texts_first">Already have an account? </p>
      <a class="sign_up_block_texts_second" th:href="@{/login}"> Login</a>
    </div>
  </div>
</section>
<footer class="footer_block">
  <div class="footer_block_content">
    <div class="footer_block_content_first_block">
      <a th:href="@{/main}"><img th:src="@{/img/Logo.png}" alt="eCars"></a>
      <p class="footer_block_content_first_block_main_text">Nullam non nisi est sit amet. Arcu vitae elementum
        curabitur vitae nunc. Ut tellus elementum sagittis vitae et leo duis.</p>
      <div class="footer_block_content_first_block_img">
        <a href="https://github.com/alken1t15"><img th:src="@{/img/Facebook2.png}" href="https://github.com/alken1t15" alt="Facebook"></a>
        <a href="https://github.com/alken1t15"><img th:src="@{/img/Twitter2.png}" href="https://github.com/alken1t15" alt="Twitter"></a>
        <a href="https://github.com/alken1t15"><img th:src="@{/img/YouTube2.png}" href="https://github.com/alken1t15" alt="YouTube"></a>
        <a href="https://github.com/alken1t15"><img th:src="@{/img/Instagram2.png}" href="https://github.com/alken1t15" alt="Instagram"></a>
      </div>
    </div>
    <div class="footer_block_content_second_block">
      <p class="footer_block_content_second_block_main_text">Company</p>
      <a  class="footer_block_content_second_block_next_text" th:href="@{/about}">About Us</a>
      <a  class="footer_block_content_second_block_next2_text" th:href="@{/blog}">Blog</a>
      <a  class="footer_block_content_second_block_next2_text" th:href="@{/frequently}">FAQ</a>
    </div>
    <div class="footer_block_content_second_block">
      <p class="footer_block_content_second_block_main_text">Cars</p>
      <p class="footer_block_content_second_block_next_text">Special offers</p>
      <p class="footer_block_content_second_block_next2_text">New cars</p>
      <p class="footer_block_content_second_block_next2_text">Used cars</p>
      <p class="footer_block_content_second_block_next2_text">Brands</p>
    </div>
    <div class="footer_block_content_second_block">
      <p class="footer_block_content_second_block_main_text">Contacts</p>
      <div class="footer_block_content_second_block_inner">
        <img class="footer_block_content_second_block_inner_img" th:src="@{/img/Whatsapp2.png}" alt="WhatsApp">
        <p class="footer_block_content_second_block_next_text">+ 7 747 165 57 80</p>
      </div>
      <div class="footer_block_content_second_block_inner">
        <img class="footer_block_content_second_block_inner_img" th:src="@{/img/Email2.png}" alt="Email">
        <a class="footer_block_content_second_block_next2_text"  href="mailto:alken1t15@gmail.com">alken1t15@gmail.com</a>
      </div>
    </div>
  </div>
  <div class="footer_block_content2">
    <p class="footer_block_content2_first_text">eCars © 2022. All rights reserved.</p>
    <div class="footer_block_content2_inner_block">
      <p class="footer_block_content2_second_text">Privacy Policy</p>
      <p class="footer_block_content2_three_text">Terms & Conditions</p>
    </div>
  </div>
</footer>
</body>
</html>